{% extends "layout.html" %}

{% set hideSaveLink = true %}

{% set serviceName %}
  Estimate the cost of biodiversity gain credits
{% endset%}

{% set pageHeading = "Estimate the cost of biodiversity gain credits" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <p>
        {{ data | dump }}
      </p> -->

      <h1 class="govuk-heading-xl">Purchase biodiversity statutory credits</h1>
      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Tier A
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              Select all options that are relevant to you.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="tier-1" name="tier" type="checkbox" value="A1" data-aria-controls="conditional-tier">
                <label class="govuk-label govuk-checkboxes__label" for="tier-1">
                  A1
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-tier">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="tier-A1-number">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="tier-A1-number" name="credit-amount" type="text">
                </div>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="tier-2" name="tier" type="checkbox" value="A2" data-aria-controls="conditional-tier-2">
                <label class="govuk-label govuk-checkboxes__label" for="tier-2">
                  A2
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-tier-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="tier-A2-number">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="tier-A2-number" name="credit-amount" type="text">
                </div>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="tier-3" name="tier" type="checkbox" value="A3" data-aria-controls="conditional-tier-3">
                <label class="govuk-label govuk-checkboxes__label" for="tier-3">
                  A3
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-tier-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="tier-A3-number">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="tier-A3-number" name="credit-amount" type="text">
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="tier-4" name="tier" type="checkbox" value="A4" data-aria-controls="conditional-tier-4">
                <label class="govuk-label govuk-checkboxes__label" for="tier-4">
                  A4
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-tier-4">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="tier-A4-number">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="tier-A4-number" name="credit-amount" type="text">
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="tier-5" name="tier" type="checkbox" value="A5" data-aria-controls="conditional-tier-5">
                <label class="govuk-label govuk-checkboxes__label" for="tier-5">
                  A5
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-tier-5">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="tier-A5-number">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="tier-A5-number" name="credit-amount" type="text">
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Tier L
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              Select all options that are relevant to you.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="tier-6" name="tier" type="checkbox" value="L1" data-aria-controls="conditional-tier-6">
                <label class="govuk-label govuk-checkboxes__label" for="tier-6">
                  L1
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-tier-6">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="tier-L1-number">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="tier-L1-number" name="credit-amount" type="text">
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="tier-7" name="tier" type="checkbox" value="L2" data-aria-controls="conditional-tier-7">
                <label class="govuk-label govuk-checkboxes__label" for="tier-7">
                  L2
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-tier-7">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="tier-L2-number">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="tier-L2-number" name="credit-amount" type="text">
                </div>
              </div>
          </fieldset>
        </div>

        {{ govukButton({ text: 'Continue'}) }}
        
      </form>
    </div>
  </div>

{% endblock %}
