{% extends "layout.html" %}

{% set hideSaveLink = true %}

{% set serviceName %}
  Estimate the cost of statutory biodiversity credits
{% endset%}


{% set pageHeading = "Estimated cost of statutory biodiversity credits" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-5" style="background-color: #1d70b8;">
        <h1 class="govuk-panel__title govuk-!-text-align-left">
          Estimated cost of statutory biodiversity credits
        </h1>
        <div class="govuk-panel__body govuk-!-text-align-left">
          <strong>£134,000 (excluding VAT)</strong>
        </div>
      </div>
    </div>
  </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Credits breakdown</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Tier</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Credits</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Estimated cost</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-table__header">A1</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">16.34</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">A2</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">1.76</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">A3</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">A4</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">8.37</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">A5</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">H</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">5.78</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">W</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated cost</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <!-- <td class="govuk-table__cell govuk-table__cell--numeric">70.09</td> -->
                <td class="govuk-table__cell govuk-table__cell--numeric">£134,000</td>
              </tr>
            </tbody>
          </table>
        
        <!-- <form method="post">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Start a new credits estimate
          </button>
  
        </form> -->
      </div>
    </div>
  
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <!-- <p>
                {{ data | dump }}
              </p> -->

              
              <h2 class="govuk-heading-m">Credit prices</h2>
              <p>This service provides an estimation based on the <a href="https://www.gov.uk/guidance/statutory-biodiversity-credit-prices#area-habitats">current credit prices</a>.</p>
              <p>Your final credit price will be shown on your invoice when you complete your purchase.</p>
            </div>
          </div>
</div>
    

         



{% endblock %}
