{% extends "layout.html" %}

{% set hideSaveLink = true %}

{% set serviceName %}
  Estimate the cost of statutory biodiversity credits
{% endset%}


{% set pageHeading = "Estimated cost of statutory biodiversity credits" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-5" style="background-color: #1d70b8;">
        <h1 class="govuk-panel__title govuk-!-text-align-left">
          Estimated cost of statutory biodiversity credits
        </h1>
        <div class="govuk-panel__body govuk-!-text-align-left">
          <strong>£134,000</strong>
        </div>
      </div>
    </div>
  </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Credits breakdown</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Tier</th>
                <th scope="col" class="govuk-table__header">Credit units</th>
                <th scope="col" class="govuk-table__header">Estimated cost</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">A1</td>
                  <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">A2</td>
                    <td class="govuk-table__cell">1.0</td>
                    <td class="govuk-table__cell">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">A3</td>
                    <td class="govuk-table__cell">2.5</td>
                    <td class="govuk-table__cell">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">A4</td>
                    <td class="govuk-table__cell">4.1</td>
                    <td class="govuk-table__cell">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">A5</td>
                    <td class="govuk-table__cell">3.21</td>
                    <td class="govuk-table__cell">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">H</td>
                    <td class="govuk-table__cell">5.12</td>
                    <td class="govuk-table__cell">£19,166</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">W</td>
                    <td class="govuk-table__cell">7.12</td>
                    <td class="govuk-table__cell">£19,166</td>
                </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Totals</th>
                <td class="govuk-table__cell">23.5</td>
                <td class="govuk-table__cell">£134,000</td>
              </tr>
            </tbody>
          </table>
        
        <!-- <form method="post">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Start a new credits estimate
          </button>
  
        </form> -->
      </div>
    </div>
  
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <!-- <p>
                {{ data | dump }}
              </p> -->
              <h2 class="govuk-heading-m">Habitat delivery</h2>

              <p>The revenue from credits will be invested in habitat delivery in England.</p>
              <p>The digital sales service is currently being built and guidance will be published before BNG becomes mandatory across England.</p>
              
              <h2 class="govuk-heading-m">Credit prices</h2>
              <p>This service provides an estimation. Credit prices are liable to change so the figure we suggest must be checked and verified by xxxx.</p>
            </div>
          </div>
</div>
    

         



{% endblock %}
