{% extends "layout.html" %}

{% set hideSaveLink = true %}

{% set serviceName %}
  Estimate the cost of biodiversity gain credits
{% endset%}

{% set pageHeading = "Estimate the cost of biodiversity gain credits" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <p>
        {{ data | dump }}
      </p> -->

      <h1 class="govuk-heading-xl">Purchase biodiversity statutory credits</h1>
      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Tier A
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              Select all options that are relevant to you.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-checkboxes__label" for="contact">
                  A1
                </label>
                <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  A1 hint copy
                </div> -->
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                  A2
                </label>
                <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  A2 hint copy
                </div> -->
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                  A3
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-4">
                <label class="govuk-label govuk-checkboxes__label" for="contact-4">
                  A4
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-4">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-5" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-5">
                <label class="govuk-label govuk-checkboxes__label" for="contact-5">
                  A5
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-5">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Tier L
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              Select all options that are relevant to you.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-6" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact-6">
                <label class="govuk-label govuk-checkboxes__label" for="contact-6">
                  L1
                </label>
                <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  A1 hint copy
                </div> -->
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-6">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-7" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-7">
                <label class="govuk-label govuk-checkboxes__label" for="contact-7">
                  L2
                </label>
                <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  A2 hint copy
                </div> -->
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-7">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone">
                    Enter number of credtis
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                </div>
              </div>
          </fieldset>
        </div>

        {{ govukButton({ text: 'Continue'}) }}
        
      </form>
    </div>
  </div>

{% endblock %}
