{% extends "layout.html" %}

{% block pageTitle %}
  Estimate the cost of biodiversity statutory credits
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
        Estimate the cost of biodiversity statutory credits
      </h1>

      <p class="govuk-body">Use this service to estimate the cost of statutory biodiversity gain credits on a development.</p>

      <p class="govuk-body">We need to know whether your biodiversity gain credit is Area (A1 to A5), Hedgerow (H) or Watercourse (W). This has been calculated by the Metric from the information you inputted.</p>

      <p class="govuk-body">The information you require to get an estimate from this service can be found in the Habitat Deficit tab.</p>

      
      <a href="credits-tier" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">You’ll need to have the following information to use the service:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>the credit type – Area (A1 to A5), H or W</li>

      </ul>

      <p>Telephone: XXXX XXX XXXX</p>

      <p>Monday to Friday, 8.30am to 5pm (except public holidays)</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
