{% extends "layout.html" %}

{% block pageTitle %}
Estimate the cost of statutory biodiversity credits
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
        Estimate the cost of statutory biodiversity credits
      </h1>

      <p class="govuk-body">Use this service to estimate the cost of statutory biodiversity credits for a development.</p>

      <p class="govuk-body">We need to know whether your statutory biodiversity credit type is Area, Hedgerow or Watercourse. All habitats fit into one of these groups and in each of them, there are credit tiers. There are five credit tiers in Area, A1 to A5, one in Hedgerow, H and one in Watercourse, W.</p>

      <p class="govuk-body">Your statutory biodiversity credit is calculated by the Metric from the information you inputted. If you want to purchase credit units go to the <a href="#">Manage Biodiversity Gains</a> service.</p>
      
      <a href="credits-tier-alt" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">You’ll need to have the following information to use the service:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>the credit type, and the credit tier – Area (A1 to A5), H or W</li>
        <li>the Secretary of State’s version of the Metric</li>
        

      </ul>

      <h2 class="govuk-heading-m">Contact the Biodiversity Net Gain team if you need help</h2>

      <p>Telephone: 0190 050 8628</p>

      <p>Monday to Friday, 8.30am to 5pm (except public holidays)</p>

      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
