{% extends "layout_noheader.html" %}


{% set pageHeading = "How to discharge your biodiversity net gain (BNG) planning condition" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Decision notice excerpt
      </h1>

      <h2 class="govuk-heading-l">
        {{ pageHeading }}
      </h2>

      <!-- <p>
        {{ data | dump }}
      </p> -->

        <p>By law, you must register your off-site gain information on Natural England's Public Biodiversity Gain Register.</p>
        
        <p>The government uses the register to manage and monitor how BNG is being met across England. You need to register your information before we can grant you planning permission.</p>

        <p>You then need to add proof of your registration to your Gain Plan that you submit to us.</p>

        <p><a href="guidance">Register your off-site gain</a></p>

    </div>
  </div>

{% endblock %}
