{% extends "layout_noheader.html" %}


{% set pageHeading = "How to discharge your biodiversity net gain (BNG) planning condition" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        OUTLINE PLANNING DECISION NOTICE
      </h1>

      <h2 class="govuk-heading-l">
        DETERMINATION OF APPLICATION FOR OUTLINE PLANNING PERMISSION
      </h2>

      <p>Town and Country Planning Act 1990<br>Town and Country Planning (Development Management Procedure) (England) Order 2015</p>

      <table class="govuk-table" style="border:1px solid black;">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead> -->
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2" style="border:1px solid black;">Application No:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">PL/2020/01235/MAOOT</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Case Officer:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">Matt Preece</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Date of Decision:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">22.09.2020</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2" style="border:1px solid black;">Location:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">Kingshurst Village Centre & Former Mountford Public House, Marston Drive, Overgreen Drive, Gilson Way & Church Close, Kingshurst, Solihull</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Proposed Development:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">Outline planning application with all matters reserved except access for demolition of existing local centre and development of a new mixed use local centre including up to 86 residential dwellings (Use Class C3), up to 1,200 sq m of retail uses (Use Class A1-A5), up to 1,700 sq m of healthcare and community uses (Use Class D2) with open space, landscaping, parking and associated infrastructure.</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Date Registered:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">16th June 2020</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Applicant:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">UK Central</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Agent:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">Miss Clare Lucey</td>
          </tr>
        </tbody>
      </table>

      <p>The Solihull Metropolitan Borough Council as Local Planning Authority hereby GRANTS PERMISSION SUBJECT TO CONDITIONS as shown below, for the above described development.</p>
      <p>The development must conform with the terms and approved plans and must remain in conformity with such terms and plans, subject to and save as may be otherwise required by any of the following conditions:-</p>

    </div>
  </div>

{% endblock %}
