{% extends "layout_unbranded.html" %}


{% set pageHeading = "How to discharge your biodiversity net gain (BNG) planning condition" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        OUTLINE PLANNING DECISION NOTICE
      </h1>

      <h2 class="govuk-heading-l">
        DETERMINATION OF APPLICATION FOR OUTLINE PLANNING PERMISSION
      </h2>

      <p>Town and Country Planning Act 1990<br>Town and Country Planning (Development Management Procedure) (England) Order 2015</p>

      <table class="govuk-table" style="border:1px solid black;">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead> -->
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2" style="border:1px solid black;">Application No:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">PL/2020/01235/MAOOT</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Case Officer:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">Matt Preece</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Date of Decision:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">22.09.2020</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2" style="border:1px solid black;">Location:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">Kingshurst Village Centre & Former Mountford Public House, Marston Drive, Overgreen Drive, Gilson Way & Church Close, Kingshurst, Solihull</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Proposed Development:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">Outline planning application with all matters reserved except access for demolition of existing local centre and development of a new mixed use local centre including up to 86 residential dwellings (Use Class C3), up to 1,200 sq m of retail uses (Use Class A1-A5), up to 1,700 sq m of healthcare and community uses (Use Class D2) with open space, landscaping, parking and associated infrastructure.</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Date Registered:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">16th June 2020</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Applicant:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">UK Central</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell" style="border:1px solid black;"></td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-padding-2">Agent:</th>
            <td class="govuk-table__cell govuk-!-padding-2" style="border:1px solid black;">Miss Clare Lucey</td>
          </tr>
        </tbody>
      </table>

      <p>The Solihull Metropolitan Borough Council as Local Planning Authority hereby GRANTS PERMISSION SUBJECT TO CONDITIONS as shown below, for the above described development.</p>
      <p>The development must conform with the terms and approved plans and must remain in conformity with such terms and plans, subject to and save as may be otherwise required by any of the following conditions:-</p>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>Prior to the commencement of a phase or combination of phases of the development details of the following matters for that phase or combination of phases (in respect of which approval is expressly reserved) shall be submitted to, and approved in writing by, the Local Planning Authority:<br>
            (a) the scale of the development;<br>
            (b) the layout of the development;<br>
            (c) the external appearance of the development;<br>
            (d) the landscaping of the site;<br><br>

            The development shall be carried out in accordance with the approved details.<br><br>
            Reason: In pursuance of Section 92(2) of the Town and Country Planning Act 1990.
        </li>
        <li>Application for approval of the reserved matters shall be made to the local planning authority not later than three years from the date of this permission.<br><br>
            Reason: In pursuance of Section 92(2) of the Town and Country Planning Act 1990.

        </li>
        <li>The development hereby permitted shall begin no later than two years from the date of approval of the last of the reserved matters to be approved.<br><br>
            Reason: In pursuance of Section 92(2) of the Town and Country Planning Act 1990.
        </li>
        <li>For those matters not reserved for later approval, the development hereby permitted shall be carried out in accordance with the approved plans:<br><br>
            - Gilson Way Site Access (002 A)<br>
            - Gilson Way / Central Boulevard (003 A)<br>
            - Over Green Drive / Central Boulevard / Silver Birch Road (005 A)<br>
            - Over Green Drive Site Access Junction (006)<br>
            - Existing Location Plan (18023_BDS-XX-XX-DR-A-S0-0100-P02.02)<br>
            - Existing Site Plan (18023_BDS-XX-XX-DR-A-S0-0101-P02.02)<br><br>

            Reason: To ensure compliance with the approved plans and details to safeguard amenity and the quality of the environment in accordance with P15 of the Solihull Local Plan 2013.
        </li>
        <li>The development hereby approved shall not exceed the following specified uses as defined in the Town and Country Planning Act (Use Classes) Order 1987 as amended:<br><br>
            - 86 residential dwellings (Use Class C3)<br>
            - 1,200 sq m of retail uses (Use Class A1-A5)<br>
            - 1,700 sq m of healthcare and community uses (Use Class D2)<br><br>

            Reason: To ensure compliance with the approved plans and the Local Plan allocation for the site in accordance with Policy P19 of the Solihull Local Plan 2013.
        </li>
        <li>Before the development hereby approved commences a phasing plan identifying all phases of development shall be submitted to and approved in writing by the Local Planning Authority. Thereafter all phases of the development shall be completed and carried out in accordance with the phasing plan unless agreed in writing with the Local Planning Authority.<br><br>

            Reason: In order to secure a comprehensive development of the site in an appropriate timescale in accordance with Policy P14 & P15 of the Solihull Local Plan 2013.
        </li>
        <li>The development hereby approved shall be implemented either as a whole or in phases, in accordance with a phasing plan to be submitted to and agreed in writing by the Local Planning Authority and wholly in accordance with this permission. All phases of the development shall be completed to the satisfaction of the Local Planning Authority unless agreed in writing.<br><br>

            Reason: In order to secure a comprehensive development of the site in an appropriate timescale in accordance with Policy P14 & P15 of the Solihull Local Plan.

        </li>
        <li>No above-ground work shall commence until such a time as a scheme to manage the surface water runoff from the development has been submitted to and approved in writing by the Lead Local Flood Authority in conjunction with the Local Planning Authority, with no occupation until the scheme is operational. The submitted details shall be based on the designs within the consented Flood Risk Assessment and should include, as a minimum:<br><br>

            a) Technical design report confirming overall SuDS features being utilised and wider design principles - the scheme must incorporate multiple dispersed SuDS features as shown within the Flood Risk Assessment including permeable paving, green roofs and bioretention areas.<br>
            b) Drawings showing overall site concept design principles<br>
            c) Site layout plan, incorporating SuDS drainage design, site ground levels, finished floor levels, any integration with landscaping, earthworks or other features.<br>
            d) Surface Water Drainage Design including:<br><br>

            i. Confirmation of the lifetime of the development<br>
            ii. Design storm period and intensity (1 in 1, 1 in 30 & 1 in 100 year + allowance for climate change see EA advice Flood risk assessments: climate change allowances'),<br>
            iii. Evidence of an assessment of the site conditions to include site investigation and test results to confirm infiltrations rates in accordance with BRE365 methodology;<br>
            iv. Confirmation of discharge rates and volumes (both pre and post development), ensuring run-off is restricted to 2l/s/ha.<br>
            v. Confirmation of proposed discharge location including necessary approvals.<br>
            vi. Innovative and Multi-Functional SuDS Design that makes good use of the site space, supported by robust calculations and demonstrating full compliance with SMPC Policy P11 and DEFRA's Non-statutory technical standards for sustainable drainage systems to accommodate the difference between the allowable discharge rate/s and all rainfall events up to the 100 year plus climate change critical event storm.<br>
            vii. Engineering details for all surface water drainage features<br>
            viii. Temporary storage facilities, the methods employed to delay and control surface water discharged from the site, and the measures taken to prevent flooding and pollution of the receiving groundwater and/or surface waters, including watercourses, and details of finished floor levels in AOD;<br>
            ix. Details of water quality controls, where applicable. For example, demonstration that the final design provides appropriate treatment for water leaving the site<br><br>

            e) Extreme flood flow routing and proposed resilience measures that ensure the buildings and infrastructure are safe from flooding<br><br>

            Reason: To ensure the satisfactory drainage of the site in accordance with Policy P11 of the Solihull Local Plan 2013.
        </li>
        <li>
            No above-ground work shall commence until such a time as a scheme to manage the existing and future surface water flood risk, based on the designs in the Flood Risk Assessment (FRA), has been submitted to and approved in writing by the Lead Local Flood Authority, with no occupation until the scheme is operational. The submitted details shall include:<br><br>

            a) Provision of surface water flood storage<br>
            b) Demonstration within the FRA that the improvement/protection and maintenance of existing flood defences will be provided.<br>
            c) Identification and provision of safe route(s) into and out of the site to an appropriate safe haven.<br>
            d) Finished floor levels are set no lower than the 1 in 100 year plus allowance for climate change plus 300mm freeboard<br><br>

            Reason: To ensure the satisfactory drainage of the site in accordance with Policy P11 of the Solihull Local Plan 2013.
        </li>
        <li>
            The site shall be landscaped strictly in accordance with the details approved pursuant to Condition 1 details. The works shall be carried out prior to the occupation of any part of the development or in accordance with a programme agreed in writing with the Local Planning Authority. If within a period of 5 years from the date of planting of any tree, that tree or any tree planted in replacement for it, is removed, uprooted, destroyed, dies or becomes seriously damaged or defective, another tree of the same species and size as that originally planted shall be planted at the same place within the next planting season (October-March), unless the Local Planning Authority gives its written consent to any variation.<br><br>

            Reason: In the interests of the visual amenities of the locality in accordance with Policies P10, P14 and P15 of the Solihull Local Plan 2013.
        </li>
        <li>Any tree, hedge or shrub scheduled for retention which is lost for any reason during development works, shall be replaced with a tree, hedge or shrub of a size and species to be agreed in writing with the Local Planning Authority and planted during the first planting season after its loss.<br><br>
            
            Reason: In the interests of the visual amenities of the locality in accordance with Policies P10, P14 and P15 of the Solihull Local Plan 2013.
        </li>
        <li>
            Notwithstanding the current plans, before development hereby approved commences, an updated Arboriculture Impact Assessment shall be submitted to and approved by the local planning authority.<br><br>

            Reason: In the interests of the visual amenities of the locality in accordance with Policies P10, P14 and P15 of the Solihull Local Plan 2013.
        </li>
        <li>
            Prior to the commencement of work on site, a detailed Arboricultural Method Statement (AMS) and an Tree Protection Plan (TPP) shall be submitted to and approved in writing by the Local Planning Authority with particular regard to trees T414 and T299 (and T368 Option A). To include a schedule of works to retained tress e.g. access facilitation pruning and details of all special engineering works within the Root protection area (RPA) and other relevant construction details. All tree work must be carried out in accordance with British Standard 3998: 2010 Recommendations for tree work.<br><br>

            Reason: In the interests of the visual amenities of the locality in accordance with Policies P10, P14 and P15 of the Solihull Local Plan 2013.
        </li>
        <li>
            Prior to the commencement of work on site a schedule of all those trees, hedgerows, shrubs or existing features of the land to be retained, removed and/or treated shall be submitted to and approved in writing by the local planning authority. No tree, hedge or shrub on the site indicated in the approved schedule for retention shall be topped, felled, lopped or root pruned except with the prior written consent of the Local Planning Authority. The work hereby approved must be carried out in accordance with British Standard 3998 for tree work.<br><br>

            Reason: In the interests of the visual amenities of the locality in accordance with Policies P10, P14 and P15 of the Solihull Local Plan 2013.
        </li>
        <li>
            Prior to the commencement of work on site all existing trees/hedges and large shrubs except those agreed for removal, shall be protected by barriers as specified within BS5837. Details of the specifications and methodologies for tree protection measures, type of fencing and its siting, including a methodology for any proposed works that encroach within the root protection areas of retained tress shall be submitted to and approved , thereafter the tree barriers shall be implemented and maintained on site as approved. The protected areas shall be kept free of all materials, equipment and building activity during the site development, and ground levels within the protected areas shall not be raised or lowered.<br><br>

            Reason: In the interests of the visual amenities of the locality in accordance with Policies P10, P14 and P15 of the Solihull Local Plan 2013.
        </li>
        <li>
            No works or development shall take place until a scheme of supervision/site monitoring for the tree (landscape/ecological) protection measures and working practices during construction has been approved in writing by the LPA. This scheme will be appropriate to the scale and duration of the works and may include details of:<br><br>

            - Induction, training and personnel awareness of arboricultural (ecological/landscape) matters to all construction personnel on site.<br>
            - Identification of individual responsibilities and key personnel.<br>
            - Statement of delegated powers.<br>
            - Phasing, timing and methods of site visiting, inspection and record keeping, including updates.<br>
            - Procedures for dealing with variations and incidents; and<br>
            - Regular inspection and maintenance of the physical protection measures and monitoring of working practices during construction;<br><br>

            Reason: In the interests of protected species and habitats in accordance with Policies P10 and P14 of the Solihull Local Plan 2013.
        </li>
        <li>
          No development shall take place until details of earthworks have been submitted to and approved in writing by the Local Planning Authority. These details shall include the proposed grading and mounding of land areas including the levels and contours to be formed, showing the relationship of proposed mounding to existing vegetation and surrounding landform. Development shall be carried out in accordance with the approved details.<br><br>

          Reason: In the interests of the visual amenities of the locality in accordance with Policies P10, P14 and P15 of the Solihull Local Plan 2013.
        </li>
        <li>
          No development shall take place until a schedule of landscape maintenance for a minimum period of 5 years has been submitted to and approved in writing by the Local Planning Authority. The schedule shall include details of the arrangements for its implementation. Development shall be carried out in accordance with the approved schedule.<br><br>

          Reason: In the interests of the visual amenities of the locality in accordance with Policies P10, P14 and P15 of the Solihull Local Plan 2013.
        </li>
        <li>
          Not later than 1st October in each of the 5 calendar years following the planting of any trees, hedges or shrubs on this site in connection with the development hereby permitted the operator shall submit to the Local Planning Authority a written statement detailing;<br><br>

          a) the number, location and species of any trees, shrubs, hedge plants which have died, become diseased or seriously damaged in the preceding 12 months, and<br>
          b) proposals for the replanting and maintenance of any such failures with plants of similar size and species within the following six months<br><br>

          Reason: In the interests of the visual amenities of the locality in accordance with Policies P10, P14 and P15 of the Solihull Local Plan 2013.
        </li>
        <li>
          No development shall commence unless and until a scheme ("the scheme") to ensure that there is no net biodiversity loss as a result of the development has been submitted to and agreed in writing by the Local Planning Authority. The scheme shall include:<br><br>

          1. Proposals for on-site mitigation and/or for offsite offsetting;<br>
          2. A methodology for the identification of any receptor site(s) for offsetting measures;<br>
          3. The identification of any such receptor site(s);<br>
          4. The provision of arrangements to secure the delivery of any offsetting measures (including a timetable for their delivery); and<br>
          5. A management and monitoring plan (to include for the provision and maintenance of any offsetting measures in perpetuity).<br><br>

          The written approval of the Local Planning Authority shall not be issued before the arrangements necessary to secure the delivery of any offsetting measures have been executed. The scheme shall be implemented in full accordance with the requirements of the scheme or any variation so approved.<br><br>

          Reason: To secure no net loss to biodiversity in accordance with NPPF and Policy P10 of Solihull Local Plan.
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
