

<a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>
<aside class="part-navigation-container" role="complementary">
  <nav class="gem-c-contents-list" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click">
    <h2 class="govuk-heading-m">
      Contents
    </h2>
    <ol class="govuk-list">
      <li><a href="index">What is biodiversity net gain (BNG)</a></li>
      <li><a href="#">How biodiversity net gain works</a></li>
      <!-- <li><a href="#" style="text-decoration:none; margin-left:5px" >--  If you're a landowner</a></li>
      <li><a href="#" style="text-decoration:none; margin-left:5px" >--  If you're a developer</a></li> -->
      <li><a href="#">Register your land for use as gain sites</a></li>
      <li><a href="guidance">Register off-site gain before you discharge your BNG planning condition</a></li>
    </ol>
  </nav>
</aside>
