{% extends "layout.html" %}


{% set pageHeading = "Enter your biodiversity gain site number" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
      <!-- <p>
        {{ data | dump }}
      </p> -->
            <form method="post">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="biodiversity-gain-site-number">
                {{ pageHeading }}
              </label>
            </h1>
            <p>This is the number which connects your development project to the land you're using as your off-site gain.</p>
        
            <p>The landowner should give this to you once they’ve registered the biodiversity gain site, and agreed you can use it.</p>
            <div id="biodiversity-gain-site-number-hint" class="govuk-hint">
                For example, BGS-111 222 333
            </div>
            <input class="govuk-input govuk-!-width-one-half" id="biodiversity-gain-site-number" name="biodiversity-gain-site-number" type="text" aria-describedby="example-hint">
          </div>

        {{ govukButton({ text: 'Continue'}) }}

      </form>

    </div>
  </div>



{% endblock %}
