{% extends "layout_noheader.html" %}

{% set pageHeading = "Record biodiversity gains" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">{{pageHeading}}</h1>

  <!-- <p>
    {{ data | dump }}
  </p> -->

{% include "includes/contents-nav.html" %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-m">
    Record off-site gain before you discharge your BNG planning condition
  </h2>
  <p>
    By law, you need to record any off-site land you're using to make up at least 10% biodiversity net gain for your development project. Your local planning authority sets the exact percentage of net gain required.
  </p>

  <p>If the information you provide is accepted, you'll need to add the details to your Gain Plan and submit them to your local planning authority.</p>

  <h2 class="govuk-heading-m">
    Before you start
  </h2>
  <p class="govuk-body">You'll need:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the Biodiversity Metric file which your local planning authority approved for your Biodiversity Net Gain Statement</li>
    <li>the biodiversity gain site number for the off-site land</li>
    <li>to know the number of biodiversity units you're using for each habitat type</li>
    <li>to have consent from the landowner for any gain site you're using</li>
  </ul>

{{ govukButton({
  text: "Start now",
  href: "sign-in",
  isStartButton: true
}) }}
</div>


</div>

{% endblock %}
