{% extends "layout_noheader.html" %}

{% set pageH1 = "You’ve submitted your biodiversity details" %}



{% block pageTitle %}
  {{ pageH1 }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          {{pageH1}}
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>BNG-02990191</strong>
        </div>
      </div>

      {% if data['credits']=='true'%}
      <p class="govuk-body">You now need to make a Biodiversity Payment. Here’s the payment request:</p>
      <p>
        <a href="https://bng-developer-prototype.herokuapp.com/public/documents/request for payment.pdf" target="_blank">Payment request 0.28MB, PDF (Opens in a new tab)</a>
      </p>

      <p>A copy has been sent to your email address.
      {% if data['email-required']=='yes'%}
        We've also sent a copy to the following email address:<br> {{data['additional-email']}}
      {%endif%}
      </p>

      {%else%}
      <p>We'll now review the details you've submitted. This can take up to 28 days.</p>
      <p>We'll email you if we need more information.</p>
      {%endif%}



      <h2 class="govuk-heading-m">What happens next</h2>

      {% if data['credits']=='true' %}
      <p class="govuk-body">
        It can take up 3 days to process your payment.
      </p>
      <p class="govuk-body">
        When your payment has been processed, we'll review the details you've submitted. This can take up to 28 days.
      </p>
      <p class="govuk-body">
        We'll email you if we need more information. If all the details you've submitted are correct, we'll:
        <ul class="govuk-list govuk-list--bullet">
          <li>email you and attach your VAT receipt for the payment</li>
          <li>add the information to the Public Biodiversity Gain Register</li>
        </ul>
      </p>
      <p class="govuk-body">
        You can then use it for your Gain Plan.
      </p>
      <p class="govuk-body">
        Make a note of your reference number as we'll use this if we get in touch with you.
      </p>

      {% else %}
      <p class="govuk-body">
        We'll contact you by email to let you know the outcome. If the details you've submitted are correct we'll add it to Public Biodiversity Gain Register. You can then use it for your Gain Plan.
      </p>
      <p class="govuk-body">
        Make a note of your reference number as we'll use this if we get in touch with you.
      </p>
      {% endif %}

      <form method="post">

      {{ govukButton({
        text: "Finish"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
