{% extends "layout_noheader.html" %}

{% set pageHeading = "Register Biodiversity Net Gain" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">{{pageHeading}}</h1>
{% include "includes/contents-nav.html" %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-m">
    Register biodiversity gain for developments
  </h2>
  <p>
    You'll need to show a minimum of 10% biodiversity net gain for your development projects.
  </p>

  <p>We'll review the information you provide within 28 days. You can then submit it to your Local Planning Authority (LPA), to discharge your BNG planning condition.</p>

  <h2 class="govuk-heading-m">
    Before you start
  </h2>
  <p class="govuk-body">You'll need</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the Biodiversity Metric 3.1 calculation which your Local Planning Authority  approved for your draft Gain Plan</li>
    <li>legal agreements for any off-site land you plan to use</li>
    <li>land boundary details for your development site</li>
  </ul>

{{ govukButton({
  text: "Start now",
  href: "sign-in",
  isStartButton: true
}) }}
</div>


</div>

{% endblock %}
