{% extends "layout_noheader.html" %}

{% set pageHeading = "Register Biodiversity Net Gain" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">{{pageHeading}}</h1>
{% include "includes/contents-nav.html" %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-m">
    What is biodiversity net gain (BNG)?
  </h2>
  <p>Biodiversity net gain is an approach to development and land management, which aims to leave the natural environment in a measurably better state than it was before it was developed.</p>

  <p>Biodiversity net gain will become a mandatory part of the Environment Act in November 2023, under the Town and Country Planning Act.</p>

  <h3 class="govuk-heading-s">
    A minimum 10% biodiversity net gain
  </h3>
  <p>From November 2023, at least 10% biodiversity net gain is needed for most planning applications.</p>
  <p>Natural England is working in partnership with the Department for Environment, Food and Rural Affairs (Defra) to put this in place.</p>

</div>


</div>

{% endblock %}
