{% extends "layout.html" %}

{% set pageHeading = "Upload the legal agreement " %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Upload the legal agreement for {% if data['offsite-done'] == 'yes' %}BNG27839062{% else %}BNG122778902{%endif%}
      </h1>
      <p class="govuk-body">This is the Section 106 agreement that secures the habitat enhancements.</p>
      <p class="govuk-hint">PDF, max size 50MB</p>
      <form method="post">

        {{ govukFileUpload({
          id: "legal-agreement-upload",
          name: "legal-agreement-upload",
          label: {
            text: "Upload a file"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
