{% extends "layout.html" %}

{% set pageHeading = "Upload your document or image" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      <p class="govuk-hint">PDF, jpg or png, max size 50mb</p>
      <form method="post">

        {{ govukFileUpload({
          id: "location-upload",
          name: "location-upload",
          label: {
            text: "Upload your document"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
