{% extends "layout.html" %}

{% set pageHeading = "Upload your geospatial data file" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <form method="post">


          <input type="hidden" id="geo-area" name="geo-area" value="4.2 ha">
          <input type="hidden" id="grid-ref" name="grid-ref" value="SP41989814">
          <p class="govuk-hint">GeoJSON, KML or Shape files, max size 50MB</p>

        {{ govukFileUpload({
          id: "location-import",
          name: "location-import",
          label: {
            text: "Upload your file"
          }
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
