{% extends "layout.html" %}

{% set pageHeading = "Confirm the total amount of on-site gain or loss" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Biodiversity Unit type</th>
            <th scope="col" class="govuk-table__header">Baseline</th>
            <th scope="col" class="govuk-table__header">Post-intervention</th>
            <th scope="col" class="govuk-table__header">Net change</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Habitat Units</td>
            <td class="govuk-table__cell">32</td>
            <td class="govuk-table__cell">34</td>
            <td class="govuk-table__cell">6.25%</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Hedgerow Units</td>
            <td class="govuk-table__cell">19</td>
            <td class="govuk-table__cell">18</td>
            <td class="govuk-table__cell">-5.5%</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">River Units</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">1.25</td>
            <td class="govuk-table__cell">25%</td>
          </tr>

        </tbody>
      </table>


      <form method="post">


          {{ govukRadios({

            idPrefix: "onsite-confirm",
            name: "onsite-confirm",
            fieldset: {
              legend: {
                text: "Is this the correct on-site land information?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No, I need to upload a different Metric file"
              }
            ]
          }) }}



        {{ govukButton({ text: 'Continue' }) }}

      </form>

    </div>
  </div>

{% endblock %}
