{% extends "layout.html" %}

{% set pageHeading = "Confirm the total amount of on-site gain" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Area habitat type</th>
            <th scope="col" class="govuk-table__header">Area (ha)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Grassland
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Other neutral grassland</span>
            </td>
            <td class="govuk-table__cell">2.4</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Heathland and scrub
                  <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Hazel scrub</span>
            </td>
            <td class="govuk-table__cell">1.25</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Woodland and forest
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Other woodland; mixed</span>
              </td>
            <td class="govuk-table__cell">0.5</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Total</td>
            <td class="govuk-table__header">4.15</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Linear habitat type</th>
            <th scope="col" class="govuk-table__header">Length (km)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Native species rich hedgerow</td>
            <td class="govuk-table__cell">0.18</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Line of trees</td>
            <td class="govuk-table__cell">0.5</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header">Total</td>
            <td class="govuk-table__header">0.68</td>
          </tr>
        </tbody>
      </table>


      <form method="post">


          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "onsite-confirm",
            name: "onsite-confirm",
            fieldset: {
              legend: {
                text: "Is this on-site land information correct?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}



        {{ govukButton({ text: 'Continue' }) }}

      </form>

    </div>
  </div>

{% endblock %}
