{% extends "../layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Show a 10% biodiversity net gain for development projects
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">Biodiversity 3.1 Metric calculations</h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="metric-upload" aria-describedby="eligibility-status">
                  Upload metric calculation
                </a>
              </span>
              {% if data['metric-correct'] == "yes" %}
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="development-location" aria-describedby="read-declaration-status">
                  Confirm development details
                </a>
              </span>
              {% if data['task1'] == "complete" %}
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% endif %}
              <!-- <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong> -->
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Your development project
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="location-options">
                  Upload the land boundary details
                </a>
              </span>
              {% if data['task2'] == "complete" %}
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
              {% elseif  data['task2'] == "inprogress"%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>


        {% if data['onsite'] == "true" %}
        <li>
          <h2 class="app-task-list__section">
            On-site land
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="onsite">
                  Confirm the total amount of on-site gain
                </a>
              </span>
              {% if data['task3'] == "complete" %}
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
              {% elseif  data['task3'] == "inprogress"%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
          </ul>
        </li>
        {% endif %}

        {% if data['offsite'] == "true" or data['multiple-offsite'] == "true"  %}
        <li>
          <h2 class="app-task-list__section">
            Off-site land
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['offsite'] == "true" %}
                  <a href="offsite1">
                {% else %}
                  <a href="offsite-total">
                {% endif %}
                  Confirm the total amount of off-site gain
                </a>
              </span>
              {% if data['task4'] == "complete" %}
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
              {% elseif  data['task4'] == "inprogress"%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
          </ul>
        </li>
        {% endif %}

        {% if data['credits'] == "true" %}
        <li>
          <h2 class="app-task-list__section">
            Biodiversity Payment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Confirm any payment you need to make to add biodiversity gain
                </a>
              </span>
              {% if data['task5'] == "complete" %}
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
              {% elseif  data['task5'] == "inprogress"%}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
          </ul>
        </li>
        {% endif %}

        <li>
          <h2 class="app-task-list__section">
            Submit your biodiversity gain information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data['task5'] == "complete" %}
              <a href="#">
                Check your answers before you submit them to us
              </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% elseif data['credits']!= "true" and data['task4'] == "complete" %}
              <a href="check-answers">
                Check your answers before you submit them to us
              </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>

              {% else %}
              <span class="app-task-list__task-name">
                Check your answers before you submit them to us
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
