{% extends "layout.html" %}

{% block pageTitle %}
    Authorise an agent to act on your behalf form
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Authorise an agent to act on your behalf form</h1>

      <div class="con-attachment">
        <div class="con-thumbnail">
            <img src="/public/images/form-icon.png" alt="Form icon">
        </div>
        <div class="con-attachment-details">
            <h2 class="govuk-heading-m"><a href="#" rel="noreferrer noopener" target="_blank">Authorise an agent to act on your behalf</a> (opens in new tab)</h2>
            <p class="govuk-hint">PDF 20KB</p>
        </div>
      </div>

      <h2 class="govuk-heading-m">Details</h2>

      <p>You can use an agent or representative to act on your behalf to either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>register a biodiversity gain site</li>
        <li>record allocation of off-site biodiversity gains to a development
        </li>
      </ul>
      
      <p>You can also use this form if you’re doing both tasks at the same time.</p>

      <div class="govuk-inset-text">
        It must be the landowner or leaseholder who completes this form.
      </div>

      <!-- <h2 class="govuk-heading-m">Before you apply</h2>

      <p>If you're an agent, the landowner or leaseholder of the gain site you're registering must give consent. They will need to complete the <a href="#">'Authorise an agent to act on your behalf'</a> form. This must be sent with your application.</p> -->


      <h2 class="govuk-heading-m">How to apply</h2>

      <div class="govuk-inset-text">
        We advise using Google Chrome to download and complete this form.
      </div>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>Open and download the ‘Authorise an agent to act on your behalf’ form. Answer the questions on the form and save it.</li>
        <li>Send it to the agent or representative who will be acting on your behalf.</li>
        <!-- <li>In the subject line type 'Application to register a biodiversity gain site and record allocation of off-site gains to a development'.</li>
        <li>Send your email to <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>.</li> -->
      </ol>

      <div class="govuk-inset-text">
        We will not accept any handwritten forms sent in by post.
      </div>
    
      <h2 class="govuk-heading-m">Contact us if you need help</h2>

      <p>Telephone: 0190 050 8628<br>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>
    </div>
  </div>

{% endblock %}
