{% extends "layout.html" %}

{% block pageTitle %}
  Buy statutory biodiversity credits  
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Buy statutory biodiversity credits</h1>

      <p><a href="buy-statutory-biodiversity-credits-form">Buying statutory biodiversity credits</a> is a last resort option for developers if you are unable to use on-site or off-site units to deliver biodiversity net gain (BNG).</p>

      <p>You cannot use an agent or representative to act on your behalf to buy statutory biodiversity credits.</p>
      
      <h2 class="govuk-heading-m">How to buy</h2>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>You will need to download and complete the relevant form to <a href="buy-statutory-biodiversity-credits-form">'Buy statutory biodiversity credits'</a>. This will need to be sent to Natural England to be processed.</li>
        <li>We will process your application. A third-party supplier will use your information for customer due diligence checks. These are to check you are who you say you are and assess any risks for money laundering. Our privacy notice tells you how we will be sharing your information.<br /><br />We will contact you within 8 weeks of receiving your application to tell you if you’ve passed the checks.</li>
        <li>If you pass the checks, you will receive a proforma invoice with instructions on how to pay for your credits.<br /><br />If you do not pass the checks, you will not be able to continue with your application.</li>
        <li>After you pay for your credits, you will receive a proof of purchase. You can send this to your local planning authority (LPA) as part of discharging the BNG condition.</li>
      </ol>

      <h2 class="govuk-heading-m">Cancellation of orders and refunds</h2>

      <p>You can cancel any time before paying for your credits. You will be able to get a refund if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your LPA cancel your planning permission and will not reimburse you</li>
        <li>you have overpaid</li>
      </ul>
    
      <h2 class="govuk-heading-m">Contact the Biodiversity Net Gain team</h2>

      <p>Telephone: 0190 050 8628<br>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>
    </div>
  </div>

{% endblock %}
