{% extends "layout.html" %}

{% block pageTitle %}
  Buy statutory biodiversity credits form
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Buy statutory biodiversity credits form</h1>

      <div class="con-attachment">
        <div class="con-thumbnail">
            <img src="/public/images/form-icon.png" alt="Form icon">
        </div>
        <div class="con-attachment-details">
            <h2 class="govuk-heading-m"><a href="/public/documents/buy-statutory-biodiversity-credits-03.pdf" rel="noreferrer noopener" target="_blank">Buy statutory biodiversity credits</a> (opens in new tab)</h2>
            <p class="govuk-hint">PDF 20KB</p>
        </div>
      </div>

      <!-- <p>Buying <a href="#">statutory biodiversity credits</a> is a last resort option for developers if you are unable to use on-site or off-site units to deliver biodiversity net gain (BNG).</p>

      <p>You cannot use an agent or representative to act on your behalf to buy statutory biodiversity credits.</p> -->
      
      <h2 class="govuk-heading-m">Before you apply</h2>

      <p>A third-party supplier will carry out customer due diligence checks. These are to check you are who you say you are and assess any risks for money laundering.</p>

      <p>You cannot use an agent or representative to act on your behalf to buy statutory biodiversity credits.</p>

      <p>If you're buying as an individual or as an organisation, payment must be made from a bank account under the same name.</p>

      <h2 class="govuk-heading-m">How to apply</h2>

      <div class="govuk-inset-text">
        We advise using Google Chrome to download and complete this form.
      </div>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>Open and download the ‘Buy statutory biodiversity credits’ form. Answer the questions on the form and save it.</li>
        <li>Create a new email using your preferred email provider.</li>
        <li>Attach your completed form and your completed statutory biodiversity metric calculation.</li>
        <li>In the subject line type 'Buy statutory biodiversity credits application’.</li>
        <li>Send your email to <a href="mailto:bngcredits@naturalengland.org.uk">bngcredits@naturalengland.org.uk</a>.</li>
      </ol>

      <div class="govuk-inset-text">
        Do not send your documents until we ask for them. We will not accept any handwritten forms sent in by post.
      </div>

      <h2 class="govuk-heading-m">When to pay</h2>

      <p>We will contact you within 8 weeks of receiving your application to tell you if you’ve passed the checks.</p>

      <p>We will email you with a proforma invoice if you pass the checks. By paying the proforma invoice, you <a href="#">accept the terms and conditions</a>.</p>

      <h2 class="govuk-heading-m">Cancellation of orders and refunds</h2>

      <p>You can cancel any time before paying for your credits. You will be able to get a refund if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your LPA cancel your planning permission and will not reimburse you</li>
        <li>you have overpaid</li>
      </ul>
    
      <h2 class="govuk-heading-m">Contact us if you need help</h2>

      <p>Telephone: 0190 050 8628<br>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>
    </div>
  </div>

{% endblock %}
