{% extends "layout.html" %}

{% block pageTitle %}
    Record biodiversity off-site gains for a development project
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Record biodiversity off-site gains for a development project</h1>

      <p>You can apply to record allocation of off-site biodiversity gains to a development if you’re:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>a landowner or leaseholder you’re allocating off-site gains onto</li>
        <li>another person (for example, a developer or ecologist) who is not the landowner or leaseholder of the gain site</li>
        <li>an agent or representative for a landowner or leaseholder</li>
      </ul>


      <h2 class="govuk-heading-m">Before you apply</h2>

      <h3 class="govuk-heading-s">If you're an agent acting on behalf of an individual landowner or leaseholder</h3>

      <p>The landowner or leaseholder must give their consent to register their land as a biodiversity gain site. They will need to complete an '<a href="authorise-an-agent-to-act-on-your-behalf-form">authorise an agent to act on your behalf</a>' form. You must send this with your application form.</p>

      <h2 class="govuk-heading-m">How to record allocation of off-site biodiversity gains to a development</h2>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>You will need to download and complete the relevant forms to <a href="record-biodiversity-off-site-gains-for-a-development-project-form">record allocation of off-site biodiversity gains to a development</a>. These will need to be sent to Natural England to be processed.</li>
        <li>When we email you back, we will ask you to send us your statutory biodiversity metric calculation for the development project. We will also give you details on how and when to pay the application fee.</li>
        <p>You must be able to send your statutory biodiversity metric to us within 14 days of us requesting it. We advise you have it ready before you submit your application form.</p>
        <li>You will need to pay the £45 application fee within 28 days of us receiving your statutory biodiversity metric. Once we receive your payment, we will send you an email with confirmation.</li>
        <li>We will carry out verification checks against your statutory biodiversity metric. We will let you know if we need more information from you or if you have been accepted or rejected.</li>
        <!-- <li>Send your email to <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>.</li> -->
        <p>If we accept your application, we will email you with confirmation. You can then tell your local planning authority to discharge the condition.</p>
      </ol>

      <h2 class="govuk-heading-m">Why your application could be rejected</h2>
      <p>The allocations you tell us about could be rejected if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you do not pay the fee within 28 days of making the application</li>
        <li>you do not provide any additional information we might ask for after making the application</li>
      </ul>

      <h2 class="govuk-heading-m">Withdrawals and refunds</h2>

      <p>Once we have made a decision on your application you cannot withdraw it or apply for a refund.</p>

      <p>You may be able to get a refund if we have not made a decision within 6 weeks. Find out more information in the terms and conditions.</p>

      <h2 class="govuk-heading-m">
        Contact us if you need help
      </h2>

      <p>Telephone: 0190 050 8628<br>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>
    </div>
  </div>

{% endblock %}
