{% extends "layout.html" %}

{% block pageTitle %}
    Record allocation of off-site biodiversity gains to a development form
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Record allocation of off-site biodiversity gains to a development form</h1>

      <div class="con-attachment">
        <div class="con-thumbnail">
            <img src="/public/images/form-icon.png" alt="Form icon">
        </div>
        <div class="con-attachment-details">
            <h2 class="govuk-heading-m"><a href="/public/documents/record-off-site-biodiversity-gains-for-a-development-project-02.pdf" rel="noreferrer noopener" target="_blank">Record allocation of off-site biodiversity gains to a development</a> (opens in new tab)</h2>
            <p class="govuk-hint">PDF 20KB</p>
        </div>
      </div>
      
      <h2 class="govuk-heading-m">Before you apply</h2>

      <h3 class="govuk-heading-s">If you're an agent acting on behalf of an individual landowner or leaseholder</h3>

      <p>The landowner or leaseholder must give their consent to register their land as a biodiversity gain site. They will need to complete an '<a href="authorise-an-agent-to-act-on-your-behalf-form">authorise an agent to act on your behalf</a>' form. You must send this with your application form.</p>

      <h2 class="govuk-heading-m">How to apply</h2>

      <div class="govuk-inset-text">
        We advise using Google Chrome to download and complete this form.
      </div>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>Open and download the ‘Record allocation of off-site biodiversity gains to a development’ form. Answer the questions on the form and save it.</li>
        <li>Create a new email using your preferred email provider and attach your completed forms. Remember to attach your completed ‘authorise an agent to act on your behalf’ form in the same email, if you’re an agent.</li>
        <li>In the subject line of your email type 'Apply to record allocation of off-site biodiversity gains to a development'.</li>
        <li>Send your email to <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>.</li>
      </ol>

      <div class="govuk-inset-text">
        Do not send your documents until we ask for them. We will not accept any handwritten application forms sent in by post.
      </div>

      <p>We will email you back requesting your statutory biodiversity metric calculation. You will have 14 days to send it, or your application will be automatically closed.</p>

      <h2 class="govuk-heading-m">When to pay</h2>

      <p>We will email you with instructions on how and when to pay.</p>

      <p>After we receive your payment, we will let you know within 6 weeks if we:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>need more information</li>
        <li>accept or reject your application to record allocation of off-site biodiversity gains to a development</li>
      </ul>

      <h2 class="govuk-heading-m">Withdrawals and refunds</h2>

      <p>Once we have made a decision on your application you cannot withdraw it or apply for a refund.</p>

      <p>You may be able to get a refund if we have not made a decision within 6 weeks.</p>
    
      <h2 class="govuk-heading-m">Contact us if you need help</h2>

      <p>Telephone: 0190 050 8628<br>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>
    </div>
  </div>

{% endblock %}
