{% extends "layout.html" %}

{% block pageTitle %}
    Register a biodiversity gain site and record allocation of off-site gains to a development form
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Register a biodiversity gain site and record allocation of off-site gains to a development form</h1>

      <div class="con-attachment">
        <div class="con-thumbnail">
            <img src="/public/images/form-icon.png" alt="Form icon">
        </div>
        <div class="con-attachment-details">
            <h2 class="govuk-heading-m"><a href="/public/documents/combined-case-01.pdf" rel="noreferrer noopener" target="_blank">Register a biodiversity gain site and record allocation of off-site gains to a development</a> (opens in new tab)</h2>
            <p class="govuk-hint">PDF 20KB</p>
        </div>
      </div>

      <h2 class="govuk-heading-m">Details</h2>

      <div class="govuk-inset-text">
        This form is to register a biodiversity gain site and record allocation of off-site gains to a development at the same time.
      </div>

      <!-- <p>Buying <a href="#">statutory biodiversity credits</a> is a last resort option for developers if you are unable to use on-site or off-site units to deliver biodiversity net gain (BNG).</p>

      <p>You cannot use an agent or representative to act on your behalf to buy statutory biodiversity credits.</p> -->
      
      <h2 class="govuk-heading-m">Before you apply</h2>

      <p>If you're an agent, the landowner or leaseholder of the gain site you're registering must give consent. They will need to complete the <a href="#">'Authorise an agent to act on your behalf'</a> form. This must be sent with your application.</p>

      <!-- <p>You cannot use an agent or someone to act on your behalf to buy statutory biodiversity credits.</p>

      <p>If you're buying as an individual, payment must be from your own personal bank account.</p>

      <p>If you're buying as an organisation, payment must be from the bank account of the organisation.</p>

      <p>A third-party supplier will use your information for customer due diligence checks. These are to check you are who you say you are and assess any risks for money laundering.</p> -->

      <h2 class="govuk-heading-m">How to apply</h2>

      <div class="govuk-inset-text">
        We advise using Google Chrome to download and complete this form.
      </div>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>Open and download the ‘Register a biodiversity gain site and record allocation of off-site gains to a development’ form. Answer the questions on the form and save it.</li>
        <li>Create a new email using your preferred email provider and attach your completed forms.</li>
        <li>In the subject line type 'Application to register a biodiversity gain site and record allocation of off-site gains to a development'.</li>
        <li>Send your email to <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>.</li>
      </ol>

      <div class="govuk-inset-text">
        Do not send your documents until we ask for them. We will not accept any handwritten application forms sent in by post.
      </div>

      <p>We will contact you within 28 days of receiving your application to tell you what to do next.</p>

      <h2 class="govuk-heading-m">When to pay</h2>

      <p>We will email you when we are ready for your payment.</p>

      <!-- <p>We will email you with a proforma invoice if you pass the checks. By paying the proforma invoice, you <a href="#">accept the terms and conditions</a>.</p> -->

      <!-- <p>Once you pass the checks, we will send you a proforma invoice with details on how to pay.</p> -->

      <p>After we receive your payment, we will let you know within 6 weeks if we:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>accept or reject your application to register a biodiversity gain site and record allocation of off-site gains to a development</li>
        <li>need more information</li>
      </ul>

      <h2 class="govuk-heading-m">Withdrawals and refunds</h2>

      <p>Once we have made a decision on your application you cannot withdraw it, or apply for a refund.</p>

      <p>You may be able to get a refund if we have not made a decision within 6 weeks.</p>

      <!-- <ul class="govuk-list govuk-list--bullet">
        <li>your LPA cancel your planning permission and will not reimburse you</li>
        <li>you have overpaid</li>
      </ul> -->
    
      <h2 class="govuk-heading-m">Contact us if you need help</h2>

      <p>Telephone: 0190 050 8628<br>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>
    </div>
  </div>

{% endblock %}
