{% extends "layout.html" %}

{% block pageTitle %}
    Register a biodiversity gain site
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Register a biodiversity gain site</h1>

      <p>You can apply to register a biodiversity gain site if you're:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a landowner or leaseholder</li>
        <li>an agent acting on their behalf</li>
      </ul>

      <h2 class="govuk-heading-m">How to apply</h2>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>If you're an agent, you must get the person you're acting on behalf of to complete the <a href="biodiversity-net-gain-forms.html">agent authorisation form</a>. This must be sent with your application.</li>
        <li>Download and complete the <a href="biodiversity-net-gain-forms.html">Register a biodiversity gain site form</a>.</li>
        <li>Create a new email and attach your completed forms. In the subject line of your email, type 'Register a biodiversity gain site application'.</li>
        <li>Send your email to <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>.</li>
      </ol>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          These forms must be completed on your computer using a PDF editor tool. We will not be accepting any handwritten application forms.
        </strong>
      </div>

      <!-- <h2 class="govuk-heading-m">
        How to register a biodiversity gain site and record a development project at the same time   
      </h2>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>You will need to download and complete forms:
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="biodiversity-net-gain-forms">Register a biodiversity gain site</a></li>
            <li><a href="biodiversity-net-gain-forms">Record off-site biodiversity gains for a development project</a></li>
            <li><a href="biodiversity-net-gain-forms">Authorise an agent</a>, if you're acting on behalf of someone else</li>
          </ul>
        </li>
        <li>Send all forms in one email to <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>.</li>
      </ol>

      <p>As well as everything you need to register a biodiversity gain site, you'll need the Biodiversity Metric 4.0 file for the development project. It must be the same file a local planning authority reviewed with the development project's Biodiversity Net Gain Statement. We will email you with instructions on when to send these documents.</p>

      <p>You will not need to pay any more than £658.70.</p> -->

      <h2 class="govuk-heading-m">After you've sent your forms</h2>

      <p>We will email you back within 28 days with a unique Biodiversity Net Gain (BNG) application reference number. We will also send you instructions on how to pay.</p>

      <h2 class="govuk-heading-m">Contact the Biodiversity Net Gain team</h2>

      <p>Telephone: 0190 050 8628<br>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p>Find out about call <a href="https://www.gov.uk/call-charges" class="govuk-link">charges</a>.</p>

      

    </div>
  </div>

{% endblock %}
