{% extends "layout.html" %}

{% block pageTitle %}
    Register a biodiversity gain site and record allocation of off-site gains to a development
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Register a biodiversity gain site and record allocation of off-site gains to a development</h1>

      <p>You can apply to register a biodiversity gain site, and record allocation of off-site gains to a development, if you’re:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>a landowner or leaseholder</li>
        <li>an agent acting on behalf of a landowner or leaseholder as an individual</li>
        <li>an agent acting on behalf of a landowner or leaseholder as an organisation</li>
        <!-- <li>an agent acting on behalf of a developer, ecologist or other person</li> -->
        
      </ul>

      <h2 class="govuk-heading-m">Before you apply</h2>

      <p>If you're an agent, the landowner or leaseholder of the gain site you're registering must give consent. They will need to complete the <a href="#">'Authorise an agent to act on your behalf'</a> form. This must be sent with your application.</p>


      <h2 class="govuk-heading-m">How to apply</h2>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>You will need to download and complete the relevant forms to <a href="register-a-biodiversity-gain-site-and-record-allocation-of-off-site-gains-to-a-development-form">register a biodiversity gain site and record allocation of off-site gains to a development</a>. These will need to be sent to Natural England to be processed.</li>
        <li>When we email you back, we will ask you to pay the £639 registration and allocation fee. We will also ask you to send:
          <ul class="govuk-list govuk-list--bullet">
                <li>a planning obligation (section 106) or a conservation covenant that secures the site for at least 30 years</li>
                <li>a map showing the land boundary</li>
                <li>the title deeds or lease agreement to prove ownership</li>
                <li>a local land charge certificate</li>
                <li>a completed Biodiversity Metric 4.0</li>
                <li>a habitat management and monitoring plan (this may be within your legal agreement)</li>
              </ul>
              <p>Find more information on <a href="#">documents you will need to send us</a>.</p>
        </li>
        <li>We will carry out verification checks against your documents.</li>
        <li>We will let you know if you have been accepted, rejected or if we need more information from you.</li>
      </ol>

      <!-- <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          These forms must be completed on your computer using a PDF editor tool. We will not be accepting any handwritten application forms.
        </strong>
      </div> -->

      <!-- <h2 class="govuk-heading-m">After you’ve sent your forms</h2>
      <p>We will email you back within 28 days with a unique Biodiversity Net Gain (BNG) application reference number. We will also send you instructions on how to pay.</p> -->

      <h2 class="govuk-heading-m">Withdrawals and refunds</h2>

      <p>Once we have made a decision on your application you cannot withdraw it or apply for a refund.</p>

      <p>You may be able to get a refund if we have not made a decision within 6 weeks. Find out more information in the <a href="#">terms and conditions</a>.</p>

      <h2 class="govuk-heading-m">
        Contact us if you need help
      </h2>

      <p>Telephone: 0190 050 8628<br>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>
    </div>
  </div>

{% endblock %}
