{% extends "layout.html" %}

{% set hideSaveLink = true %}

{% set serviceName %}
  Estimate the cost of biodiversity gain credits
{% endset%}


{% set pageHeading = "Credits amount" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-5" style="background-color: #1d70b8;">
        <h1 class="govuk-panel__title govuk-!-text-align-left">
          Total estimated cost of biodiversity gain credits
        </h1>
        <div class="govuk-panel__body govuk-!-text-align-left">
          <strong>£134,000</strong>
        </div>
      </div>

    </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <!-- <p>
          {{ data | dump }}
        </p> -->

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Credits breakdown</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Type</th>
              <th scope="col" class="govuk-table__header">Tier</th>
              <th scope="col" class="govuk-table__header">Broad habitat</th>
              <th scope="col" class="govuk-table__header">Habitat type</th>
              <th scope="col" class="govuk-table__header">Credit units</th>
              <th scope="col" class="govuk-table__header">Estimated cost</th>
              <th scope="col" class="govuk-table__header"></th>              
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for item in data['credit-choices'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{item.type}}</td>
              <td class="govuk-table__cell">{{item.tier}}</td>
              <td class="govuk-table__cell">{{item.broad}}</td>
              <td class="govuk-table__cell">{{item.habitat}}</td>
              <td class="govuk-table__cell">{{item.number}}</td>
              <td class="govuk-table__cell">£67,000</td>
              <td class="govuk-table__cell"><a href="#">Delete</a></td>
            </tr>
            {% endfor %}
            <!-- <tr class="govuk-table__row">
              <td class="govuk-table__cell">Linear</td>
              <td class="govuk-table__cell">L3</td>
              <td class="govuk-table__cell">Rivers and streams</td>
              <td class="govuk-table__cell">Other rivers and streams</td>
              <td class="govuk-table__cell">6</td>
              <td class="govuk-table__cell">£6,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Area</td>
              <td class="govuk-table__cell">A1</td>
              <td class="govuk-table__cell">Heathland and shrub</td>
              <td class="govuk-table__cell">Mixed scrub</td>
              <td class="govuk-table__cell">2.89</td>
              <td class="govuk-table__cell">£8,000</td>
            </tr> -->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Totals</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">40</td>
              <td class="govuk-table__cell">£134,000</td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>

        <form method="post">

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Start a new credits estimate
          </button>
  
          </form>

          <h2 class="govuk-heading-m">Content needed</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Legal estimation requirements</li>
            <li>Explanation of what tiers are and do</li>
            <li>Credit prices will change</li>
          </ul>

      </div>
    </div>

  </div>

{% endblock %}
