{% extends "layout.html" %}
{% set pageH1 = "Would you like to send the payment request to a second email?" %}


{% block pageTitle %}
  {{ pageH1 }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageH1 }}
      </h1>

      <form method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "alternative-email-required",
          name: "alternative-email-required",
          fieldset: {
            legend: {
              text: pageH1,
              classes: "govuk-visually-hidden"
            }
          },

          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({ text: 'Continue' }) }}

      </form>

    </div>
  </div>

{% endblock %}
