

{% extends "layout.html" %}

{% block page_title %}
 Developer scenario for V1
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="grid-row">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Scenario 1</h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Background</h2>
      <p class="govuk-body">
        Imagine it’s 2023 and you’ve submitted your planning application for a development site to a Local Planning Authority. You need to use Biodiversity Net Gain Statutory Credits - as it’s the only way you can meet the minimum 10% biodiversity net gain needed for most development plans.
      </p>
      <p class="govuk-body">
        You receive an email from a Local Planning Authority granting you conditional planning permission, and approving the sale of the credits. The email states you’ll now need to buy the credits from the Department for Environment, Food and Rural Affairs.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">What you need to do</h2>
      <p class="govuk-body">
        In a moment you’ll be shown a mock up on an email from a Local Planning Authority.
      </p>
      <p class="govuk-body">
        Please read the email and follow the steps you need to take to buy credits. As you go through the steps, talk through what you’re doing.
      </p>
      <p class="govuk-body">
        We’d love to know if it meets your expectations. For example, did you find anything confusing or difficult? Is there anything missing? How easy is it to complete the task?
      </p>

  </div>
{% endblock %}

{% block custom_scripts %}
<script>

</script>
{% endblock %}
