{% extends "layout.html" %}

{% set hideSaveLink = true %}

{% set serviceName %}
  Estimate the cost of biodiversity gain credits
{% endset%}


{% set pageHeading = "What is the credit tier?" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="credits-type">Type of credit</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Credit tier</a>
          </li>
        </ol>
      </div> -->

      <!-- <form method="post"> -->

        <!-- <p>
          {{ data | dump }}
        </p> -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Question 4 of 6</span>
            <h1 class="govuk-fieldset__heading">
                {{ pageHeading }}
            </h1>
          </legend>

          <p>We calculate the credit tier using the broad habitat type you chose.</p>


          {% if data['credits-type']=="Area" and data['credits-broad-habitat-type']=="Coastal lagoons" %}

          <p class="govuk-body govuk-!-font-size-36">A4</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A4">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Coastal saltmarsh" 
          and data['credits-habitat-type']=="Artificial saltmarshes and saline reedbeds" %}

          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>
          
          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Coastal saltmarsh" 
          and data['credits-habitat-type']=="Saltmarshes and saline reedbeds" %}

          <p class="govuk-body govuk-!-font-size-36">A4</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A4">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Cropland" 
          and data['credits-habitat-type']=="Arable field margins cultivated annually" 
          or data['credits-habitat-type']=="Arable field margins game bird mix" 
          or data['credits-habitat-type']=="Arable field margins pollen and nectar" 
          or data['credits-habitat-type']=="Arable field margins tussocky" 
          or data['credits-habitat-type']=="Cereal crops" 
          or data['credits-habitat-type']=="Horticulture" 
          or data['credits-habitat-type']=="Intensive orchards" 
          or data['credits-habitat-type']=="Non-cereal crops" 
          or data['credits-habitat-type']=="Temporary grass and clover leys" 
          or data['credits-habitat-type']=="Winter stubble" 
          %}

          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Grassland" 
          and data['credits-habitat-type']=="Other neutral grassland" 
          or data['credits-habitat-type']=="Other lowland acid grassland"
          or data['credits-habitat-type']=="Upland acid grassland" 
          or data['credits-habitat-type']=="Bracken"
          or data['credits-habitat-type']=="Modified grassland"
          %}
          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Grassland" 
          and data['credits-habitat-type']=="Lowland calcareous grassland" 
          or data['credits-habitat-type']=="Tall herb communities (H6430)"
          or data['credits-habitat-type']=="Upland calcareous grassland" 
          %}
          <p class="govuk-body govuk-!-font-size-36">A2</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A2">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Heathland and shrub" 
          and data['credits-habitat-type']=="Mixed scrub" 
          or data['credits-habitat-type']=="Blackthorn scrub"
          or data['credits-habitat-type']=="Bramble scrub" 
          or data['credits-habitat-type']=="Gorse scrub" 
          or data['credits-habitat-type']=="Hawthorn scrub" 
          or data['credits-habitat-type']=="Hazel scrub" 
          or data['credits-habitat-type']=="Rhododendron scrub" 
          %}
          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Heathland and shrub" 
          and data['credits-habitat-type']=="Other sea buckthorn scrub" 
          or data['credits-habitat-type']=="Dunes with sea buckthorn" 
          or data['credits-habitat-type']=="Lowland Heathland"
          or data['credits-habitat-type']=="Upland Heathland"
          %}
          <p class="govuk-body govuk-!-font-size-36">A2</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A2">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Individual trees" 
          and data['credits-habitat-type']=="Rural tree" 
          or data['credits-habitat-type']=="Urban tree" 
          %}
          <p class="govuk-body govuk-!-font-size-36">A2</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A2">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Intertidal hard structures" 
          and data['credits-habitat-type']=="Artificial features of hard structures" 
          or data['credits-habitat-type']=="Artificial hard structures with integrated greening of grey infrastructure (IGGI)" 
          %}
          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Intertidal sediment" 
          and data['credits-habitat-type']=="Artificial littoral coarse sediment" 
          or data['credits-habitat-type']=="Artificial littoral sand" 
          or data['credits-habitat-type']=="Artificial littoral mud" 
          or data['credits-habitat-type']=="Artificial littoral muddy sand" 
          or data['credits-habitat-type']=="Artificial littoral mixed sediments" 
          or data['credits-habitat-type']=="Artificial littoral seagrass" 
          or data['credits-habitat-type']=="Artificial littoral biogenic reefs" 
          %}
          
          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Intertidal sediment" 
          and data['credits-habitat-type']=="Littoral coarse sediment" 
          or data['credits-habitat-type']=="Littoral sand"  
          %}
          
          <p class="govuk-body govuk-!-font-size-36">A2</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A2">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Intertidal sediment" 
          and data['credits-habitat-type']=="Littoral mud" 
          or data['credits-habitat-type']=="Littoral mixed sediments"  
          or data['credits-habitat-type']=="Littoral biogenic reefs, mussels" 
          or data['credits-habitat-type']=="Littoral biogenic reefs, sabellaria"
          or data['credits-habitat-type']=="Features of littoral sediment" 
          or data['credits-habitat-type']=="Littoral muddy sand"
          %}
          
          <p class="govuk-body govuk-!-font-size-36">A3</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A3">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Intertidal sediment" 
          and data['credits-habitat-type']=="Littoral seagrass"
          %}

          <p class="govuk-body govuk-!-font-size-36">A4</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A4">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Lakes" 
          and data['credits-habitat-type']=="Reservoirs"
          %}

          <p class="govuk-body govuk-!-font-size-36">A4</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A4">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Lakes" 
          and data['credits-habitat-type']=="High alkalinity lakes"
          or data['credits-habitat-type']=="Low alkalinity lakes"
          or data['credits-habitat-type']=="Marl Lakes"
          or data['credits-habitat-type']=="Moderate alkalinity lakes"
          or data['credits-habitat-type']=="Peat Lakes"
          %}

          <p class="govuk-body govuk-!-font-size-36">A5</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A5">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Orchards" 
          and data['credits-habitat-type']=="Traditional orchards"
          %}

          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Ponds" 
          and data['credits-habitat-type']=="Ponds (non-priority habitat)"
          or data['credits-habitat-type']=="Ponds (priority habitat)"
          or data['credits-habitat-type']=="Temporary lakes, ponds and pools"
          %}

          <p class="govuk-body govuk-!-font-size-36">A4</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A4">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Reedbeds" 
          and data['credits-habitat-type']=="Wetland reedbeds"
          %}

          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Rocky shore" 
          and data['credits-habitat-type']=="Features of littoral rock"
          or data['credits-habitat-type']=="High energy littoral rock"
          or data['credits-habitat-type']=="Low energy littoral rock"
          or data['credits-habitat-type']=="Moderate energy littoral rock"
          %}

          <p class="govuk-body govuk-!-font-size-36">A4</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A4">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Sparsely vegetated land" 
          and data['credits-habitat-type']=="Ruderal / ephemeral"
          or data['credits-habitat-type']=="Tall forbs"
          %}

          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Sparsely vegetated land" 
          and data['credits-habitat-type']=="Coastal sand dunes"
          or data['credits-habitat-type']=="Coastal vegetated shingle"
          or data['credits-habitat-type']=="Inland rock outcrop and scree"
          or data['credits-habitat-type']=="Maritime cliff and slopes"
          or data['credits-habitat-type']=="Other inland rock and scree"
          %}

          <p class="govuk-body govuk-!-font-size-36">A4</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A4">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Urban" 
          and data['credits-habitat-type']=="Actively worked sand pit quarry or open cast mine"
          or data['credits-habitat-type']=="Allotments"
          or data['credits-habitat-type']=="Artificial unvegetated, unsealed surface"
          or data['credits-habitat-type']=="Bare ground"
          or data['credits-habitat-type']=="Biodiverse green roof"
          or data['credits-habitat-type']=="Bioswale"
          or data['credits-habitat-type']=="Built linear features"
          or data['credits-habitat-type']=="Cemeteries and churchyards"
          or data['credits-habitat-type']=="Developed land; sealed surface"
          or data['credits-habitat-type']=="Facade-bound green wall"
          or data['credits-habitat-type']=="Ground based green wall"
          or data['credits-habitat-type']=="Ground level planters"
          or data['credits-habitat-type']=="Intensive green roof"
          or data['credits-habitat-type']=="Introduced shrub"
          or data['credits-habitat-type']=="Ornamental lake or pond"
          or data['credits-habitat-type']=="Other green roof"
          or data['credits-habitat-type']=="Rain garden"
          or data['credits-habitat-type']=="Sustainable urban drainage feature"
          or data['credits-habitat-type']=="Un-vegetated garden"
          or data['credits-habitat-type']=="Vacant or derelict land"
          or data['credits-habitat-type']=="Vegetated garden"
          %}

          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Urban Mosaic" 
          and data['credits-habitat-type']=="Open mosaic habitats on previously developed land"
          %}

          <p class="govuk-body govuk-!-font-size-36">A2</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A2">
              Continue
            </button>

          </form>


          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Watercourse footprint" 
          and data['credits-habitat-type']=="Watercourse footprint"
          %}

          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Wetland Mosaic" 
          and data['credits-habitat-type']=="Grassland - floodplain (CFGM)"
          %}

          <p class="govuk-body govuk-!-font-size-36">A4</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A4">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Woodland and forest" 
          and data['credits-habitat-type']=="Other coniferous woodland"
          %}

          <p class="govuk-body govuk-!-font-size-36">A1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Woodland and forest" 
          and data['credits-habitat-type']=="Other woodland; broadleaved"
          or data['credits-habitat-type']=="Other scot's pine woodland"
          or data['credits-habitat-type']=="Other woodland; mixed"
          %}

          <p class="govuk-body govuk-!-font-size-36">A2</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A2">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Woodland and forest" 
          and data['credits-habitat-type']=="Wet woodland"
          or data['credits-habitat-type']=="Felled"
          or data['credits-habitat-type']=="Lowland beech and yew woodland"
          or data['credits-habitat-type']=="Upland birchwoods"
          %}

          <p class="govuk-body govuk-!-font-size-36">A3</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A3">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Area" 
          and data['credits-broad-habitat-type']=="Woodland and forest" 
          and data['credits-habitat-type']=="Upland mixed ash woods"
          or data['credits-habitat-type']=="Native pine woodlands"
          or data['credits-habitat-type']=="Lowland mixed deciduous woodland"
          or data['credits-habitat-type']=="Upland oakwood"
          %}

          <p class="govuk-body govuk-!-font-size-36">A4</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="A4">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Linear" 
          and data['credits-broad-habitat-type']=="Hedgerow" 
          and data['credits-habitat-type']=="Hedge ornamental non native"
          or data['credits-habitat-type']=="Line of trees"
          or data['credits-habitat-type']=="Line of trees - associated with bank or ditch"
          or data['credits-habitat-type']=="Line of trees (EV)"
          or data['credits-habitat-type']=="Line of trees (EV) - bank/ditch"
          or data['credits-habitat-type']=="Native hedgerow"
          or data['credits-habitat-type']=="Native hedgerow - bank/ditch"
          or data['credits-habitat-type']=="Native hedgerow with trees"
          or data['credits-habitat-type']=="Native hedgerow with trees - bank/ditch"
          or data['credits-habitat-type']=="Native species hedgerow with trees - bank/ditch"
          or data['credits-habitat-type']=="Native species rich hedgerow"
          or data['credits-habitat-type']=="Native species rich hedgerow with trees"
          %}

          <p class="govuk-body govuk-!-font-size-36">L1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="L1">
              Continue
            </button>

          </form>

          {% elif data['credits-type']=="Linear" 
          and data['credits-broad-habitat-type']=="Hedgerow" 
          and data['credits-habitat-type']=="Hedge ornamental non native"
          or data['credits-habitat-type']=="Line of trees"
          or data['credits-habitat-type']=="Line of trees - associated with bank or ditch"
          or data['credits-habitat-type']=="Line of trees (EV)"
          or data['credits-habitat-type']=="Line of trees (EV) - bank/ditch"
          or data['credits-habitat-type']=="Native hedgerow"
          or data['credits-habitat-type']=="Native hedgerow - bank/ditch"
          or data['credits-habitat-type']=="Native hedgerow with trees"
          or data['credits-habitat-type']=="Native hedgerow with trees - bank/ditch"
          or data['credits-habitat-type']=="Native species hedgerow with trees - bank/ditch"
          or data['credits-habitat-type']=="Native species rich hedgerow"
          or data['credits-habitat-type']=="Native species rich hedgerow with trees"
          %}

          <p class="govuk-body govuk-!-font-size-36">L1</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="L1">
              Continue
            </button>

          </form>

          
          {% else %}

          <p class="govuk-body govuk-!-font-size-36">L2</p>

          <form method="post">

            <button class="govuk-button" name="credits-tier" data-module="govuk-button" value="L2">
              Continue
            </button>

          </form>

          {% endif %}

          <!-- {% if data['credits-type']=="Area" %}

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="A1" name="credits-tier" type="radio" value="A1" {{ checked("credits-tier", "A1") }}>
              <label class="govuk-label govuk-radios__label" for="A1">
                A1
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="A2" name="credits-tier" type="radio" value="A2" {{ checked("credits-tier", "A2") }}>
              <label class="govuk-label govuk-radios__label" for="A2">
                A2
              </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="A3" name="credits-tier" type="radio" value="A3" {{ checked("credits-tier", "A3") }}>
                <label class="govuk-label govuk-radios__label" for="A3">
                  A3
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="A4" name="credits-tier" type="radio" value="A4" {{ checked("credits-tier", "A4") }}>
                <label class="govuk-label govuk-radios__label" for="A4">
                  A4
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="A5" name="credits-tier" type="radio" value="A5" {{ checked("credits-tier", "A5") }}>
                <label class="govuk-label govuk-radios__label" for="A5">
                  A5
                </label>
              </div>

          {% else %}

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="L1" name="credits-tier" type="radio" value="L1" {{ checked("credits-tier", "L1") }}>
              <label class="govuk-label govuk-radios__label" for="L1">
                L1
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="L2" name="credits-tier" type="radio" value="L2" {{ checked("credits-tier", "L2") }}>
              <label class="govuk-label govuk-radios__label" for="L2">
                L2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="L3" name="credits-tier" type="radio" value="L3" {{ checked("credits-tier", "L3") }}>
              <label class="govuk-label govuk-radios__label" for="L3">
                L3
              </label>
            </div>

          {% endif %} -->

         
        </fieldset>
      </div>
      <!-- <form method="post">
      {{ govukButton({ text: 'Continue'}) }}
    </form> -->

      <!-- </form> -->

      <!-- <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Broad habitat types in Area tiers
          </span>
        </summary>
        <div class="govuk-details__text">
          <h2 class="govuk-heading-s">A1</h2>
          <ul class="govuk-list">
            <li>Coastal saltmarsh</li>
            <li>Cropland</li>
            <li>Grassland</li>
            <li>Heathland and shrub</li>
            <li>Intertidal Hard Structures</li>
            <li>Intertidal sediment</li>
            <li>Orchards</li>
            <li>Reedbeds</li>
            <li>Sparsely vegetated land</li>
            <li>Urban</li>
            <li>Urban Mosaic</li>
          </ul>  
          <h2 class="govuk-heading-s">A2</h2>
          <ul class="govuk-list">
            <li>Grassland</li>
            <li>Heathland and shrub</li>
            <li>Intertidal sediment</li>
            <li>Woodland and forest</li>            
          </ul>
          <h2 class="govuk-heading-s">A3</h2>
          <ul class="govuk-list">
            <li>Intertidal sediment</li>
            <li>Woodland and forest</li>            
          </ul>
          <h2 class="govuk-heading-s">A4</h2>
          <ul class="govuk-list">
            <li>Ponds</li>
            <li>Rocky shore</li> 
            <li>Sparsely vegetated land</li> 
            <li>Wetland Mosaic</li> 
            <li>Woodland and forest</li>            
          </ul>
          <h2 class="govuk-heading-s">A5</h2>
          <ul class="govuk-list">
            <li>Lakes</li>          
          </ul>
        </div>
      </details> -->


      




    </div>
    <div class="govuk-grid-column-one-third">
   <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Credit</h2>
      <ul class="govuk-list">       
      {% if data['credits-type'] %}
      <li><span class="govuk-!-font-weight-bold">Type:</span> {{data['credits-type']}}</li>
      {% endif %}

      {% if data['credits-tier'] %}
      <li><span class="govuk-!-font-weight-bold">Tier:</span> {{data['credits-tier']}}</li>
      {% endif %}

      {% if data['credits-broad-habitat-type'] %}
      <li><span class="govuk-!-font-weight-bold">Broad habitat:</span> {{data['credits-broad-habitat-type']}}</li>    
      {% endif %}

      {% if data['credits-habitat-type'] %}
      <li><span class="govuk-!-font-weight-bold">Habitat:</span> {{data['credits-habitat-type']}}</li>
      {% endif %}

      {% if data['credits-number'] %}
      <li><span class="govuk-!-font-weight-bold">Number:</span> {{data['credits-number']}}</li>
      {% endif %}
      
    </ul> -->

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Credit</caption>
      <!-- <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Amount</th>
        </tr>
      </thead> -->
      <tbody class="govuk-table__body">
        {% if data['credits-type'] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Type</th>
          <td class="govuk-table__cell">{{data['credits-type']}}</td>
        </tr>
        {% endif %}       

        {% if data['credits-broad-habitat-type'] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Broad habitat</th>
          <td class="govuk-table__cell">{{data['credits-broad-habitat-type']}}</td>
        </tr>
        {% endif %}
        {% if data['credits-habitat-type'] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Habitat</th>
          <td class="govuk-table__cell">{{data['credits-habitat-type']}}</td>
        </tr>
        {% endif %}
        <!-- {% if data['credits-tier'] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Tier</th>
          <td class="govuk-table__cell">{{data['credits-tier']}}</td>
        </tr>
        {% endif %}
        {% if data['credits-number'] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Number</th>
          <td class="govuk-table__cell">{{data['credits-number']}}</td>
        </tr>
        {% endif %} -->
      </tbody>
    </table>


    <!-- <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Credit</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Amount</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Type</th>
          <td class="govuk-table__cell">{{data['credits-type']}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Tier</th>
          <td class="govuk-table__cell">{{data['credits-tier']}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Broad habitat</th>
          <td class="govuk-table__cell">{{data['credits-broad-habitat-type']}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Habitat</th>
          <td class="govuk-table__cell">{{data['credits-habitat-type']}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Number</th>
          <td class="govuk-table__cell">{{data['credits-number']}}</td>
        </tr>
      </tbody>
    </table> -->
    </div>
  </div>

{% endblock %}
