{% extends "layout.html" %}

{% set hideSaveLink = true %}


{% set pageHeading = "Credits amount" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-type">Type of credit</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-tier">Credit tier</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-broad-habitat-type">Broad habitat type</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-habitat-type">Habitat type</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-amount">Amount of credits</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Cost of credits</a>
              </li>
            </ol>
          </div> -->

    </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">Credit cost estimate</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Type</th>
              <th scope="col" class="govuk-table__header">Tier</th>
              <th scope="col" class="govuk-table__header">Broad habitat</th>
              <th scope="col" class="govuk-table__header">Habitat</th>
              <th scope="col" class="govuk-table__header">Number of credits</th>
              <th scope="col" class="govuk-table__header">Estimated cost</th>             
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Area</td>
              <td class="govuk-table__cell">A3</td>
              <td class="govuk-table__cell">Intertidal sediment</td>
              <td class="govuk-table__cell">Littoral seagrass</td>
              <td class="govuk-table__cell">2.89</td>
              <td class="govuk-table__cell">£7,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Linear</td>
              <td class="govuk-table__cell">L3</td>
              <td class="govuk-table__cell">Rivers and streams</td>
              <td class="govuk-table__cell">Other rivers and streams</td>
              <td class="govuk-table__cell">6</td>
              <td class="govuk-table__cell">£6,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Area</td>
              <td class="govuk-table__cell">A1</td>
              <td class="govuk-table__cell">Heathland and shrub</td>
              <td class="govuk-table__cell">Mixed scrub</td>
              <td class="govuk-table__cell">2.89</td>
              <td class="govuk-table__cell">£8,000</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Totals</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">11.78</td>
              <td class="govuk-table__cell">£21,000</td>
            </tr>
          </tbody>
        </table>

        <!-- <form method="post">

          <button class="govuk-button govuk-button" data-module="govuk-button">
            Start a new credits estimate
          </button>
  
          </form> -->
      </div>
    </div>

  </div>

{% endblock %}
