{% extends "layout.html" %}

{% set hideSaveLink = true %}


{% set pageHeading = "Credits amount" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-type">Type of credit</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-tier">Credit tier</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-broad-habitat-type">Broad habitat type</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-habitat-type">Habitat type</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="credits-amount">Amount of credits</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Cost of credits</a>
              </li>
            </ol>
          </div> -->

        
      <!-- <p>
        {{ data | dump }}
      </p> -->
      
        <!-- <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">Credit chosen</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Type</th>
                <td class="govuk-table__cell">{{data['credits-type']}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Tier</th>
                <td class="govuk-table__cell">{{data['credits-tier']}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Broad habitat</th>
                <td class="govuk-table__cell">{{data['credits-broad-habitat-type']}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Habitat</th>
                <td class="govuk-table__cell">{{data['credits-habitat-type']}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Number of credits</th>
                <td class="govuk-table__cell">{{data['credits-number']}}</td>
              </tr>
            </tbody>
          </table> -->

          <!-- <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" href="#">
              Add more credits
            </button>
          </div> -->

          <!-- <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              href: "credits-amount"
            }) }}
          
            {{ govukButton({
              text: "Save as draft",
              classes: "govuk-button--secondary",
              href: "credits-type"
            }) }}
          </div> -->

          <form method="post">

            {{ govukRadios({
              classes: "govuk-radios",
              idPrefix: "add-more-credits",
              name: "add-more-credits",
              fieldset: {
                legend: {
                  text: "Do you want to add more credits?",
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "Add more credits hint."
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
    
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
    
            {{ govukButton({ text: 'Continue' }) }}

        </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Credit</h2>
      <ul class="govuk-list">       
      {% if data['credits-type'] %}
      <li><span class="govuk-!-font-weight-bold">Type:</span> {{data['credits-type']}}</li>
      {% endif %}

      {% if data['credits-tier'] %}
      <li><span class="govuk-!-font-weight-bold">Tier:</span> {{data['credits-tier']}}</li>
      {% endif %}

      {% if data['credits-broad-habitat-type'] %}
      <li><span class="govuk-!-font-weight-bold">Broad habitat:</span> {{data['credits-broad-habitat-type']}}</li>    
      {% endif %}

      {% if data['credits-habitat-type'] %}
      <li><span class="govuk-!-font-weight-bold">Habitat:</span> {{data['credits-habitat-type']}}</li>
      {% endif %}
      
    </ul>

    </div>
  </div>

{% endblock %}
