{% extends "layout_noheader.html" %}


{% set pageHeading = "Biodiversity gain credits cost estimation calculator" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Select credit type
            </h1>
          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            Do we need to explain the concept of credit types?
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="credits-type-area" name="credits-type" type="radio" value="Area" {{ checked("credits-type", "Area") }}>
              <label class="govuk-label govuk-radios__label" for="credits-type-area">
                Area
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="credits-type-liner" name="credits-type" type="radio" value="Linear" {{ checked("credits-type", "Linear") }}>
              <label class="govuk-label govuk-radios__label" for="credits-type-liner">
                Linear
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      


        {{ govukButton({ text: 'Continue'}) }}

      </form>

    </div>
  </div>

{% endblock %}
