{% extends "layout.html" %}

{% set hideSaveLink = true %}


{% set pageHeading = "Select broad habitat type" %} 
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <!-- <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="credits-type">Type of credit</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="credits-tier">Credit tier</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Broad habitat type</a>
          </li>
        </ol>
      </div> -->

      <form method="post">

        <!-- <p>
          {{ data | dump }}
        </p> -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Question 3 of 6</span>
            <h1 class="govuk-fieldset__heading">
                {{ pageHeading }}
            </h1>
          </legend>
          <p class="govuk-body">A broad habitat is how we group habitat areas.</p>

          {% if data['credits-type']=="Area" and data['credits-tier']=="A1" %}
          <p class="govuk-body govuk-hint">Area and A1 broad habitat type hint.</p>

          {% elif data['credits-type']=="Area" and data['credits-tier']=="A2" %}
          <!-- <p class="govuk-body govuk-hint">Area and A2 broad habitat type hint.</p> -->
          <p class="govuk-body">For example, tall herb communities and upland calcareous grassland would be described as a broad habitat of grassland.</p>
          
          {% elif data['credits-type']=="Area" and data['credits-tier']=="A3" %}
          <p class="govuk-body govuk-hint">Area and A3 broad habitat type hint.</p>

          {% elif data['credits-type']=="Area" and data['credits-tier']=="A4" %}
          <p class="govuk-body govuk-hint">Area and A4 broad habitat type hint.</p>

          {% elif data['credits-type']=="Area" and data['credits-tier']=="A4" %}
          <p class="govuk-body govuk-hint">Area and A4 broad habitat type hint.</p>

          {% elif data['credits-type']=="Area" and data['credits-tier']=="A5" %}
          <p class="govuk-body govuk-hint">Area and A5 broad habitat type hint.</p>

          {% elif data['credits-type']=="Linear" and data['credits-tier']=="L1" %}
          <p class="govuk-body govuk-hint">Linear and L1 broad habitat type hint.</p>

          {% elif data['credits-type']=="Linear" and data['credits-tier']=="L2" %}
          <p class="govuk-body govuk-hint">Linear and L2 broad habitat type hint.</p>

          {% else %}
          <p class="govuk-body govuk-hint">Linear and L3 broad habitat type hint.</p>

          {% endif %}

          <div id="changed-name-hint" class="govuk-hint">
            Broad habitat type hint.
          </div>
          {% if data['credits-tier']=="A1" %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="coastal-saltmarsh" name="credits-broad-habitat-type" type="radio" value="Coastal saltmarsh" {{ checked("credits-broad-habitat-type", "Coastal saltmarsh") }}>
              <label class="govuk-label govuk-radios__label" for="coastal-saltmarsh">
                Coastal saltmarsh
              </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cropland" name="credits-broad-habitat-type" type="radio" value="Cropland" {{ checked("credits-broad-habitat-type", "Cropland") }}>
                <label class="govuk-label govuk-radios__label" for="cropland">
                  Cropland
                </label>
            </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="grassland" name="credits-broad-habitat-type" type="radio" value="Grassland" {{ checked("credits-broad-habitat-type", "Grassland") }}>
                <label class="govuk-label govuk-radios__label" for="grassland">
                  Grassland 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="heathland-shrub" name="credits-broad-habitat-type" type="radio" value="Heathland and shrub" {{ checked("credits-broad-habitat-type", "Heathland and shrub") }}>
                <label class="govuk-label govuk-radios__label" for="heathland-shrub">
                  Heathland and shrub
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="intertidal-hard-structures" name="credits-broad-habitat-type" type="radio" value="Intertidal hard structures" {{ checked("credits-broad-habitat-type", "Intertidal hard structures") }}>
                <label class="govuk-label govuk-radios__label" for="intertidal-hard-structures">
                  Intertidal hard structures
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="intertidal-sediment" name="credits-broad-habitat-type" type="radio" value="Intertidal sediment" {{ checked("credits-broad-habitat-type", "Intertidal sediment") }}>
                <label class="govuk-label govuk-radios__label" for="intertidal-sediment">
                  Intertidal sediment 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="orchards" name="credits-broad-habitat-type" type="radio" value="Orchards" {{ checked("credits-broad-habitat-type", "Orchards") }}>
                <label class="govuk-label govuk-radios__label" for="orchards">
                  Orchards 
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="reedbeds" name="credits-broad-habitat-type" type="radio" value="Reedbeds" {{ checked("credits-broad-habitat-type", "Reedbeds") }}>
                <label class="govuk-label govuk-radios__label" for="reedbeds">
                  Reedbeds
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sparsely-vegetated-land" name="credits-broad-habitat-type" type="radio" value="Sparsely vegetated land" {{ checked("credits-broad-habitat-type", "Sparsely vegetated land") }}>
                <label class="govuk-label govuk-radios__label" for="sparsely-vegetated-land">
                  Sparsely vegetated land
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="urban" name="credits-broad-habitat-type" type="radio" value="Urban" {{ checked("credits-broad-habitat-type", "Urban") }}>
                <label class="govuk-label govuk-radios__label" for="urban">
                  Urban 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="urban-mosaic" name="credits-broad-habitat-type" type="radio" value="Urban Mosaic" {{ checked("credits-broad-habitat-type", "Urban Mosaic") }}>
                <label class="govuk-label govuk-radios__label" for="">
                  Urban Mosaic 
                </label>
              </div>

              
              {% elif data['credits-tier']=="A2" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="grassland" name="credits-broad-habitat-type" type="radio" value="Grassland" {{ checked("credits-broad-habitat-type", "Grassland") }}>
                <label class="govuk-label govuk-radios__label" for="grassland">
                  Grassland
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="heathland-and-shrub" name="credits-broad-habitat-type" type="radio" value="Heathland and shrub" {{ checked("credits-broad-habitat-type", "Heathland and shrub") }}>
                <label class="govuk-label govuk-radios__label" for="heathland-and-shrub">
                  Heathland and shrub
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="intertidal-sediment" name="credits-broad-habitat-type" type="radio" value="Intertidal sediment" {{ checked("credits-broad-habitat-type", "Intertidal sediment") }}>
                <label class="govuk-label govuk-radios__label" for="intertidal-sediment">
                  Intertidal sediment
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="woodland-and-forest" name="credits-broad-habitat-type" type="radio" value="Woodland and forest" {{ checked("credits-broad-habitat-type", "Woodland and forest") }}>
                <label class="govuk-label govuk-radios__label" for="woodland-and-forest">
                  Woodland and forest
                </label>
              </div>
              {% elif data['credits-tier']=="A3" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="intertidal-sediment" name="credits-broad-habitat-type" type="radio" value="Intertidal sediment" {{ checked("credits-broad-habitat-type", "Intertidal sediment") }}>
                <label class="govuk-label govuk-radios__label" for="intertidal-sediment">
                  Intertidal sediment
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="woodland-and-forest" name="credits-broad-habitat-type" type="radio" value="Woodland and forest" {{ checked("credits-broad-habitat-type", "Woodland and forest") }}>
                <label class="govuk-label govuk-radios__label" for="woodland-and-forest">
                  Woodland and forest
                </label>
              </div>
              {% elif data['credits-tier']=="A4" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ponds" name="credits-broad-habitat-type" type="radio" value="Ponds" {{ checked("credits-broad-habitat-type", "Ponds") }}>
                <label class="govuk-label govuk-radios__label" for="ponds">
                  Ponds
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rocky-shore" name="credits-broad-habitat-type" type="radio" value="Rocky shore" {{ checked("credits-broad-habitat-type", "Rocky shore") }}>
                <label class="govuk-label govuk-radios__label" for="rocky-shore">
                  Rocky shore
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sparsely-vegetated-land" name="credits-broad-habitat-type" type="radio" value="Sparsely vegetated land" {{ checked("credits-broad-habitat-type", "Sparsely vegetated land") }}>
                <label class="govuk-label govuk-radios__label" for="sparsely-vegetated-land">
                  Sparsely vegetated land
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="wetland-mosaic" name="credits-broad-habitat-type" type="radio" value="Wetland Mosaic" {{ checked("credits-broad-habitat-type", "Wetland Mosaic") }}>
                <label class="govuk-label govuk-radios__label" for="wetland-mosaic">
                  Wetland Mosaic
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="woodland-and-forest" name="credits-broad-habitat-type" type="radio" value="Woodland and forest" {{ checked("credits-broad-habitat-type", "Woodland and forest") }}>
                <label class="govuk-label govuk-radios__label" for="woodland-and-forest">
                  Woodland and forest
                </label>
              </div>
              {% elif data['credits-tier']=="A5" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lakes" name="credits-broad-habitat-type" type="radio" value="Lakes" {{ checked("credits-broad-habitat-type", "Lakes") }}>
                <label class="govuk-label govuk-radios__label" for="lakes">
                  Lakes
                </label>
              </div>
              {% elif data['credits-tier']=="L1" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hedgerow" name="credits-broad-habitat-type" type="radio" value="Hedgerow" {{ checked("credits-broad-habitat-type", "Hedgerow") }}>
                <label class="govuk-label govuk-radios__label" for="hedgerow">
                  Hedgerow
                </label>
              </div>
              {% elif data['credits-tier']=="L2" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rivers" name="credits-broad-habitat-type" type="radio" value="Rivers" {{ checked("credits-broad-habitat-type", "Rivers") }}>
                <label class="govuk-label govuk-radios__label" for="rivers">
                  Rivers
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rivers-and-streams" name="credits-broad-habitat-type" type="radio" value="Rivers and streams" {{ checked("credits-broad-habitat-type", "Rivers and streams") }}>
                <label class="govuk-label govuk-radios__label" for="rivers-and-streams">
                  Rivers and streams
                </label>
              </div>
              {% else %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rivers" name="credits-broad-habitat-type" type="radio" value="Rivers" {{ checked("credits-broad-habitat-type", "Rivers") }}>
                <label class="govuk-label govuk-radios__label" for="rivers">
                  Rivers
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rivers-and-streams" name="credits-broad-habitat-type" type="radio" value="Rivers and streams" {{ checked("credits-broad-habitat-type", "Rivers and streams") }}>
                <label class="govuk-label govuk-radios__label" for="rivers-and-streams">
                  Rivers and streams
                </label>
              </div>
              {% endif %}
        </fieldset>
      </div>

        {{ govukButton({ text: 'Continue'}) }}

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Credit</h2>
      <ul class="govuk-list">       
      {% if data['credits-type'] %}
      <li><span class="govuk-!-font-weight-bold">Type:</span> {{data['credits-type']}}</li>
      {% endif %}

      {% if data['credits-tier'] %}
      <li><span class="govuk-!-font-weight-bold">Tier:</span> {{data['credits-tier']}}</li>
      {% endif %}

      {% if data['credits-broad-habitat-type'] %}
      <li><span class="govuk-!-font-weight-bold">Broad habitat:</span> {{data['credits-broad-habitat-type']}}</li>    
      {% endif %}

      {% if data['credits-habitat-type'] %}
      <li><span class="govuk-!-font-weight-bold">Habitat:</span> {{data['credits-habitat-type']}}</li>
      {% endif %}

      {% if data['credits-number'] %}
      <li><span class="govuk-!-font-weight-bold">Number:</span> {{data['credits-number']}}</li>
      {% endif %}
      
    </ul>

    </div>
  </div>

{% endblock %}
