{% extends "layout.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "What do you want to do?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post">

          {{ govukRadios({
            idPrefix: "routing-register",
            name: "routing-register",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Register a biodiversity gain site",
                checked: checked("routing-register", "Yes")
              },
              {
                value: "No",
                text: "Record off-site bodiversity gains for a development project",
                checked: checked("routing-register", "No")
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
