{% extends "layout-email.html" %}


{% set pageHeading = "Subject: We've registered your biodiversity net gain details" %}
{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Dear {{ data['full-name'] or 'Jo Smith' }}</p>
      <p>We’ve added your biodiversity net gain details to the Public Biodiversity Gain Register for the following development project:</p>

      <p><strong>Project name:</strong>  Emmer Green Golf Course <br>
          <strong>Local authority:</strong> Reading Borough Council<br>
          <strong>Planning reference:</strong> 22/0197/RGL</p>

      <p><strong>Biodiversity gain site:</strong> Bex's Eco Farm Ltd <br>
        <strong>Biodiversity gain site number:</strong> BGS-12778902
      </p>

      <p>You can view your details on the Public Biodiversity Gain Register here: <a href="#">https://defra/bng-public-register.co.uk</a></p>

      <h2 class="govuk-heading-m">How to discharge your BNG planning condition</h2>

      <p>You need to add this link to your Biodiversity Net Gain Plan and send it your local planning authority.</p>

      <p>You will not be able to discharge your BNG planning condition until the local planning authority has reviewed what has been recorded on the register, and they're happy you've met at least 10% net gain.</p>

      <p>Regards</p>
      <p>Register land as a biodiversity gain site service</p>
      <p>Natural England</p>
      <p>This is an automated message - do not reply.</p>
      <hr class="app-divider">
      <div class="govuk-!-margin-top-9">
        <p class="govuk-body-s">This email and any attachments is intended for the named recipient only. If you have received it in error you have no authority to use, disclose, store or copy any of its contents and you should destroy it and inform the sender. Whilst this email and associated attachments will have been checked for known viruses whilst within Defra systems we can accept no responsibility once it has left our systems. Communications on Defra's computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful purposes.</p>
      </div>
        
    </div>
</div>

{% endblock %}
