{% extends "layout.html" %}

{% block pageTitle %}
    Biodiversity net gain forms
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Biodiversity net gain forms
      </h1>

      <h2 class="govuk-heading-m">
        Documents
      </h2>

      <div class="con-attachment">
        <div class="con-thumbnail">
            <img src="/public/images/form-icon.png" alt="Form icon">
        </div>
        <div class="con-attachment-details">
            <h2><a href="#">Register a biodiversity gain site</a></h2>
            <p class="govuk-hint">PDF 20KB</p>
        </div>
      </div>

      <div class="con-attachment">
        <div class="con-thumbnail">
            <img src="/public/images/form-icon.png" alt="Form icon">
        </div>
        <div class="con-attachment-details">
            <h2 class="govuk-heading-m"><a href="/public/documents/record-off-site-biodiversity-gains-for-a-development-project-01.pdf" rel="noreferrer noopener" target="_blank">Record off-site biodiversity gains for a development project</a> (opens in new tab)</h2>
            <p class="govuk-hint">PDF 20KB</p>
        </div>
      </div>

      <div class="con-attachment">
        <div class="con-thumbnail">
            <img src="/public/images/form-icon.png" alt="Form icon">
        </div>
        <div class="con-attachment-details">
            <h2><a href="#">Buy statutory biodiversity credits</a></h2>
            <p class="govuk-hint">PDF 20KB</p>
        </div>
      </div>

      <div class="con-attachment">
        <div class="con-thumbnail">
            <img src="/public/images/form-icon.png" alt="Form icon">
        </div>
        <div class="con-attachment-details">
            <h2 class="govuk-heading-m"><a href="/public/documents/authorise-an-agent-to-act-on-your-behalf.pdf" rel="noreferrer noopener" target="_blank">Authorise an agent</a> (opens in new tab)</h2>
            <p class="govuk-hint">PDF 20KB</p>
        </div>
      </div>

      <h2 class="govuk-heading-m">
        Details
      </h2>

      <p>Use these forms to either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>authorise an agent to act on your behalf</li>
        <li>register a biodiversity gain site</li>
        <li>record off-site gain for a development project</li>
        <li>buy statutory biodiversity credits</li>
        
      </ul>


      <h2 class="govuk-heading-m">
        How to apply   
      </h2>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>If you're an agent, the landowner, leaseholder or developer must complete the form 'authorise an agent to act on your behalf'. This must be sent with your application.</li>
        <li>Download and complete the forms you need.</li>
        <li>Create a new email and attach your completed forms.</li>
        <li>Send your email to <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>.</li>
      </ol>

      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    These forms must be completed on your computer using a PDF editor tool. We will not be accepting any handwritten application forms.
  </strong>
</div>

      <p>We will contact you within 28 days of receiving the forms to tell you what to do next.</p>

      <h2 class="govuk-heading-m">
        When to pay
      </h2>

      <p>We will email you when we are ready for your payment.</p>

      <p class="govuk-body">After we receive your payment, we will let you know within 6 weeks if we:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>accept or reject your application to record your development project</li>
  <li>need more information</li>
</ul>

      <h2 class="govuk-heading-m">
        Contact the Biodiversity Net Gain team
      </h2>

      <p>Telephone: 0190 050 8628</p>
      <p>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p>Find out about call <a href="https://www.gov.uk/call-charges" class="govuk-link">charges</a>.</p>

      
      <!-- <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">link text (opens in new tab)</a> -->
    </div>
  </div>

{% endblock %}
