{% extends "layout.html" %}

{% block pageTitle %}
    Register a biodiversity gain site
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Register a biodiversity gain site
      </h1>

      <h2 class="govuk-heading-m">
        How to apply
      </h2>

      <p>You will need to download and complete forms:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="biodiversity-net-gain-forms">Register a biodiversity gain site</a></li>
        <li><a href="biodiversity-net-gain-forms">Authorise an agent</a>, if you're acting on behalf of someone else</li>
      </ul>

      <p>Create a new email and attach your completed forms. Send your email to: <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>. We will not be accepting any handwritten application forms.</p>

      <h2 class="govuk-heading-m">
        What happens next   
      </h2>

      <p>We will email you back within 28 days with a 19-character reference number. You will need to reply to our email with your legal documentation so we can verify your gain site.</p>

      <p>You must enter your reference number in the subject line every time you email us. This is so we can match your documents to your case file.</p>

      <p class="govuk-!-font-weight-bold">There could be a delay to your application if you do not give us the correct reference number.</p>

      <h2 class="govuk-heading-m">
        How to pay   
      </h2>

      <p>You will need to make a Bacs transfer of £658.70 within 28 days of us requesting the documents. We will send you our bank account details in an email.</p>

      <p>Your payment could be lost if you do not use the correct reference number when you pay.</p>

      <p>We will let you know within 6 weeks if we:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>accept or reject your biodiversity gain site</li>
        <li>need more information</li>
      </ul>

      <h2 class="govuk-heading-m">
        How to register a biodiversity gain site and record a development project at the same time   
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="biodiversity-net-gain-forms">Register a biodiversity gain site</a></li>
        <li><a href="biodiversity-net-gain-forms">Record off-site biodiversity gains for a development project</a></li>
        <li><a href="biodiversity-net-gain-forms">Authorise an agent</a>, if you're acting on behalf of someone else</li>
      </ul>

      <p>Send all forms in one email to <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>.</p>

      <p>As well as everything you need to register a biodiversity gain site, you'll need the Biodiversity Metric 4.0 file for the development project. It must be the same file a local planning authority reviewed with the development project's Biodiversity Net Gain Statement.</p>

      <p>You will not need to pay any more than £658.70.</p>

      <h2 class="govuk-heading-m">
        Contact the Biodiversity Net Gain team if you need help
      </h2>

      <p>Telephone: 0190 050 8628</p>
      <p>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      

    </div>
  </div>

{% endblock %}
