{% extends "layout.html" %}

{% block pageTitle %}
    Register a biodiversity gain site and record off-site gains for a development project
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Register a biodiversity gain site and record off-site gains for a development project</h1>

      <p>You can register a biodiversity gain site, and record off-site gains for a development project at the same time, if you are:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>a landowner or leaseholder recording off-site gains</li>
        <li>an agent acting on behalf of a landowner or leaseholder</li>
        <li>a developer, ecologist or other person recording off-site gains</li>
        <li>an agent acting on behalf of a developer, ecologist or other person</li>
        
      </ul>


      <h2 class="govuk-heading-m">How to apply</h2>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>If you're an agent, you must get the person you're acting on behalf of to complete the <a href="biodiversity-net-gain-forms.html">agent authorisation form</a>. This must be sent with your application.</li>
        <li>Download and complete the <a href="biodiversity-net-gain-forms.html">Register a biodiversity gain site and record off-site gains for a development project</a>.</li>
        <li>
            <ul class="govuk-list govuk-list--bullet">
                <li>create a new email</li>
                <li>in subject line add 'Register a biodiversity gain site and record off-site gains for a development project'</li>
                <li>attach your completed forms</li>
                <li>send your email to <a href="mailto:bng.applications@naturalengland.org.uk">bng.applications@naturalengland.org.uk</a>.</li>
            </ul>
        </li>
      </ol>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          These forms must be completed on your computer using a PDF editor tool. We will not be accepting any handwritten application forms.
        </strong>
      </div>

      <h2 class="govuk-heading-m">After you’ve sent your forms</h2>
      <p>We will email you back within 28 days with a unique Biodiversity Net Gain (BNG) application reference number. We will also send you instructions on how to pay.</p>

      <h2 class="govuk-heading-m">
        Contact the Biodiversity Net Gain team
      </h2>

      <p>Telephone: 0190 050 8628<br>Monday to Friday: 8.30am to 5pm (except public holidays)</p>

      <p>Find out about call <a href="https://www.gov.uk/call-charges" class="govuk-link">charges</a>.</p>
    </div>
  </div>

{% endblock %}
