{% extends "layout.html" %}

{% set hideSaveLink = true %}

{% set serviceName %}
  Purchase statutory biodiversity credits
{% endset%}

{% set pageH1 = "Check your answers before you submitting your information" %}

{% block pageTitle %}
  {{ pageH1 }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageH1 }}
      </h1>

      <!-- <p>
        {{ data | dump }}
      </p> -->

      <!-- <h2 class="govuk-heading-m">Development project details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Project name
          </dt>
          <dd class="govuk-summary-list__value">
            Emmer Green Golf Course
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local authority
          </dt>
          <dd class="govuk-summary-list__value">
            Reading Borough Council
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning reference
          </dt>
          <dd class="govuk-summary-list__value">
            22/01976/RJL
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity gain site number
          </dt>
          <dd class="govuk-summary-list__value">
            BNG12778902
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
      </dl> -->

      <!-- <h2 class="govuk-heading-m">Landowner details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner
          </dt>
          <dd class="govuk-summary-list__value">
            Bex's Eco Farm Ltd
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity gain site number
          </dt>
          <dd class="govuk-summary-list__value">
            BNG12778902
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
      </dl> -->


      <h2 class="govuk-heading-m">Secretary of State Metric file</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            File added
          </dt>
          <dd class="govuk-summary-list__value">
            SoS_Emmer_Green_PP_version.XLSM, 4.1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="metric-upload">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Confirm development details
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="development-location">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Project name
          </dt>
          <dd class="govuk-summary-list__value">
            Emmer Green Golf Course
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local authority
          </dt>
          <dd class="govuk-summary-list__value">
            Reading Borough Council
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning reference
          </dt>
          <dd class="govuk-summary-list__value">
            22/01976/RJL
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity gain site number
          </dt>
          <dd class="govuk-summary-list__value">
            BNG12778902
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div> -->

      </dl>

      <h2 class="govuk-heading-m">Purchase order</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will you be using a purchase order?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="consent-agreement-upload">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Purchase order number
          </dt>
          <dd class="govuk-summary-list__value">
            123456789
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="consent-agreement-upload">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Anti-money laundering information</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you purchasing statutory biodiversity credits as an individual or an organisation?
          </dt>
          <dd class="govuk-summary-list__value">
            Organisation
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="consent-agreement-upload">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="consent-agreement-upload">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            08 Febuary 1980
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="consent-agreement-upload">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of company incorporation

          </dt>
          <dd class="govuk-summary-list__value">
            08 June 1970
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="consent-agreement-upload">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registered company address

          </dt>
          <dd class="govuk-summary-list__value">
            6 Richmond Drive <br />
            North Hykehan <br />
            Lincoln <br />
            LN6 8QY
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="consent-agreement-upload">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Statutory biodiversity credit units</h2>

      <h2 class="govuk-heading-m">Tier A</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            A1
          </dt>
          <dd class="govuk-summary-list__value">
            0 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="email-entry">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            A2
          </dt>
          <dd class="govuk-summary-list__value">
            0 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="email-entry">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            A3
          </dt>
          <dd class="govuk-summary-list__value">
            0 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="email-entry">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            A4
          </dt>
          <dd class="govuk-summary-list__value">
            0 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="email-entry">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            A5
          </dt>
          <dd class="govuk-summary-list__value">
            0 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="email-entry">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Tier H</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            H1
          </dt>
          <dd class="govuk-summary-list__value">
            0 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="email-entry">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Tier W</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            W1
          </dt>
          <dd class="govuk-summary-list__value">
            0 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="email-entry">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Estimated cost of statutory biodiversity credit units</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total estimated cost
          </dt>
          <dd class="govuk-summary-list__value">
            £0 
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="email-entry">
              Change<span class="govuk-visually-hidden"> name</span>
            </a> -->
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Submit your information</h2>

      <p>By submitting you agree that the information you have given is complete and correct.</p>

      <form method="post">

          {{ govukButton({ text: 'Confirm and submit', href: 'credits-confirmation'}) }}

      </form>

    </div>
  </div>

{% endblock %}
