{% extends "layout.html" %}

{% set serviceName %}
  Purchase statutory biodiversity credits
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Terms and conditions</h1>

      <form method="post">

        <p>Ensure the user clicks agree to credits terms and conditions, these are set to be written by legal.</p>

        <p>This also includes T&C’s regarding refunds. This is also with Lizzie and legal as refunds come in later.</p>

        

      <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                I confirm I have read the T&C's
              </label>
            </div>
          </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
