{% extends "layout.html" %}

{% block pageTitle %}
    Purchase Order 
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Purchase Order</h1>

      <form method="post">

        <p>Ask the user if they will be using a purchase order reference or not. If not, skip to credits selection. If yes, allow the user to enter their reference before and click submit before going to credits selection.</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
