

{% extends "layout.html" %}

{% block page_title %}
 Developer scenario for V1
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="grid-row">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Scenario 2</h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Background</h2>
      <p class="govuk-body">
        Imagine it is 2023 and the Local Planning Authority have approved your use of biodiversity net gain statutory credits.They’ve uploaded your development site details and Metric 3.1 calculations, on your behalf, to the Department for Environment, Food and Rural Affair’s credit sales platform.
      </p>
      <p class="govuk-body">
        You receive an email from the Local Planning Authority asking you to log on to pay for the credits they’ve approved.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">What you need to do</h2>
      <p class="govuk-body">
        In a moment you’ll be shown a mock up of an email from  your Local Planning Authority. It relates to your planning application for a development at Emmers Green golf course.
      </p>
      <p class="govuk-body">
        Please read the email and follow the steps you need to take to buy credits. You’ll also need to make a note of this planning application number, as you will need it to complete the task:
      </p>
      <p class="govuk-!-font-weight-bold govuk-inset-text">
        22/01976/RJL
      </p>
      <p class="govuk-body">
        As you go through the steps, talk through what you’re doing.We’d love to know if it meets your expectations. For example, did you find anything confusing or difficult? Is there anything missing? How easy is it to complete the task?
      </p>

  </div>
{% endblock %}

{% block custom_scripts %}
<script>

</script>
{% endblock %}
