

{% extends "layout.html" %}

{% block page_title %}
 Holding page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="grid-row">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">V1 - Initial discussions concepts</h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Developer led journeys</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Simple journey - <a href="http://bng-credit-prototype.herokuapp.com/v1/start-page?journey=developer">Start page</a></li>
        <li>Bespoke calculation journey - <a href="http://bng-credit-prototype.herokuapp.com/set-credit-amounts?version=v1&journey=developer">Start page</a></li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">LPA led journeys</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Simple journey - <a href="http://bng-credit-prototype.herokuapp.com/v1/start-page?journey=lpa">Start page</a></li>
        <li>Bespoke calculation journey - <a href="http://bng-credit-prototype.herokuapp.com/set-credit-amounts?version=v1&journey=lpa">Start page</a></li>
      </ul>

  </div>
{% endblock %}

{% block custom_scripts %}
<script>

</script>
{% endblock %}
