{% extends "layout.html" %}
{% set pageH1 = "Enter email address?" %}


{% block pageTitle %}
  {{ pageH1 }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageH1 }}
      </h1>

      <form method="post">

        {{ govukInput({
          id: "additional-email",
          name: "additional-email"
        }) }}

        {{ govukButton({ text: 'Continue' }) }}

      </form>

    </div>
  </div>

{% endblock %}
