{% extends "layout.html" %}

{% set pageH1 = "Enter your company contact details" %}

{% block pageTitle %}
  {{ pageH1 }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageH1 }}
      </h1>
      <p class="govuk-body">We will use this information if we ever need to contact you about the credit payment.</p>

      <form method="post" action="">

        {{ govukInput({
          id: "developer-name",
          label: {
          text: "Company name",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        classes: "govuk-!-width-two-thirds",
          name: "developer-name",
          value: data['developer-name']
        }) }}

        {{ govukInput({
          label: {
          text: "Email address",
          classes: "govuk-label--m",
          isPageHeading: false
        },
          classes: "govuk-!-width-two-thirds",
          id: "developer-email",
          name: "developer-email",
          value: data['developer-email']
        }) }}

        {% call govukFieldset({
          legend: {
            text: "Postal address",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              text: 'Address line 1'
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-line-1",
            name: "address-line-1",
            autocomplete: "address-line1",
            value: data['address-line-1']
          }) }}

          {{ govukInput({
            label: {
              text: 'Address line 2 (optional)'
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-line-2",
            name: "address-line-2",
            autocomplete: "address-line2",
            value: data['address-line-2']
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address-town",
            autocomplete: "address-level2",
            value: data['address-town']
          }) }}

          {{ govukInput({
            label: {
              text: "County (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-county",
            name: "address-county",
            value: data['address-county']
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "address-postcode",
            autocomplete: "postal-code",
            value: data['address-postcode']
          }) }}

        {% endcall %}

        {{ govukInput({
          label: {
            text: "Telephone",
            classes: "govuk-label--m"
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20",
          value: data['telephone-number']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
