{% extends "layout.html" %}
{% set pageH1 = "Enter your company name" %}


{% block pageTitle %}
  {{ pageH1 }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageH1 }}
      </h1>

      <form method="post" action="">

          {{ govukInput({
            id: "developer-name",
            name: "developer-name",
            value: data['developer-name']
          }) }}




        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
