

{% extends "layout.html" %}

{% block page_title %}
 Holding page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="grid-row">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">V3 - Developer led iterations</h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Buy credit journey</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Scenario - <a href="http://bng-credit-prototype.herokuapp.com/v3/developer-scenario">Start page</a>
        <li>Simple journey - <a href="http://bng-credit-prototype.herokuapp.com/v3/start-page">Start page</a></li>
        <li>Bespoke calculation journey - <a href="http://bng-credit-prototype.herokuapp.com/set-credit-amounts?version=v3">Start page</a></li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">View credit purchase journey</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          View journey - <a target="_blank" href="http://bng-credit-prototype.herokuapp.com/v3/view-start-page">Start page</a>
          <br><br>
          <strong>Access details</strong><br>
          Planning Reference No: 22/01976/RJL<br>
          Access code: 734867

        </li>
      </ul>

  </div>
{% endblock %}

{% block custom_scripts %}
<script>

</script>
{% endblock %}
