
{% extends "layout_noheader.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Manage biodiversity gains - Developer team
      </h1>

      <h2 class="govuk-heading-l">Beta prototypes</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Beta phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width:30%"> Prototype </th>
            <th class="govuk-table__header" scope="col"> Sprint </th>
            <th class="govuk-table__header" scope="col"> Date </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-27">Contingency v2</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-27"><span class="govuk-visually-hidden">Beta </span>Sprint 27</a>
            </td>
            <td class="govuk-table__cell">
              31 August 2023 - 13 September 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Current",  
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-23">Contingency</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-23"><span class="govuk-visually-hidden">Beta </span>Sprint 23</a>
            </td>
            <td class="govuk-table__cell">
              06 July 2023 - 19 July 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-22">Credits</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-22"><span class="govuk-visually-hidden">Beta </span>Sprint 22</a>
            </td>
            <td class="govuk-table__cell">
              22 June 2023 - 05 July 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Current",  
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-21">Credits</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-21"><span class="govuk-visually-hidden">Beta </span>Sprint 21</a>
            </td>
            <td class="govuk-table__cell">
              7 June 2023 - 22 June 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-19">Credits estimation</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-19"><span class="govuk-visually-hidden">Beta </span>Sprint 19</a>
            </td>
            <td class="govuk-table__cell">
              11 May 2023 - 23 May 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="developer_v6/start">Developer journey v6</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-15"><span class="govuk-visually-hidden">Beta </span>Sprint 15</a>
            </td>
            <td class="govuk-table__cell">
              15 March 2023 - 29 March 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"  
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="developer_v5/start">Developer journey v5</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-10"><span class="govuk-visually-hidden">Beta </span>Sprint 10</a>
            </td>
            <td class="govuk-table__cell">
              February 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="developer_v4/start">Developer journey v4</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-9"><span class="govuk-visually-hidden">Beta </span>Sprint 9</a>
            </td>
            <td class="govuk-table__cell">
              13 January 2023 - 30 January 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="developer_v3-1/decision-notice">Developer journey v3</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-8"><span class="govuk-visually-hidden">Beta </span>Sprint 8</a>
            </td>
            <td class="govuk-table__cell">
              22 November 2022 - 13 January 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="developer_v2/decision-notice">Developer journey v2</a>
            </td>
            <td class="govuk-table__cell">
              <a href="beta-sprints/sprint-7"><span class="govuk-visually-hidden">Beta </span>Sprint 7</a>
            </td>
            <td class="govuk-table__cell">
              9 November - 22 November 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l">Alpha prototypes</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Alpha phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width:30%"> Prototype </th>
            <th class="govuk-table__header" scope="col"> Sprint </th>
            <th class="govuk-table__header" scope="col"> Date </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-0">Developer journey v1</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-0"><span class="govuk-visually-hidden">Alpha </span>Sprint 0</a>
            </td>
            <td class="govuk-table__cell">
              17 August 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Design assets</h2>
      <ul class="govuk-list">
        <li>
          <a href="https://miro.com/app/board/uXjVOitYxBg=/?share_link_id=368561443235">As-is journey maps (Miro)</a>
        </li>
        <li>
          <a href="#">To-be journey maps (Miro)</a>
        </li>
        <li>
          <a href="#">User flow diagrams (Miro)</a>
        </li>
        <li>
          <a href="#" class="govuk-link">Design decisions log (Confluence)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Team resources</h2>
      <ul class="govuk-list">
        <li>
          <a href="https://github.com/defra-design/bng-credit-prototype">
            Prototype GitHub repository
          </a>
        </li>
        <li>
          <a href="https://eaflood.atlassian.net/wiki/spaces/BI/overview?homepageId=3543433512">
            Project Confluence
          </a>
        </li>
        <li>
          <a href="https://eaflood.atlassian.net/jira/software/c/projects/BNGP/boards/1247">
            Jira board
          </a>
        </li>
      </ul>

    </div>

  </div>

{% endblock %}