{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{serviceName}} Prototype
      </h1>
    <h2 class="govuk-heading-m">Prototype versions</h2>
    <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Version</th>
                    <th scope="col" class="govuk-table__header">Date created</th>
                    <th scope="col" class="govuk-table__header">Summary notes</th>
                    <th scope="col" class="govuk-table__header">Planned research date</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/v1">Version 1</a></td>
                <td class="govuk-table__cell">???</td>
                <td class="govuk-table__cell">
                  Details of journeys:
                  <ul class="bullets">

                  </ul>
                </td>
                <td class="govuk-table__cell">???</td>
              </tr>


            </tbody>
    </table>




      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
