{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{serviceName}} Prototype
      </h1>

    <h2 class="govuk-heading-m">Prototype versions</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Date created</th>
              <th scope="col" class="govuk-table__header">Summary notes</th>
          </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/developer_v1/">developer_v1</a></td>
          <td class="govuk-table__cell">17 August 2022</td>
          <td class="govuk-table__cell">
            Details of journeys:<br/>
            <a href="https://miro.com/app/board/uXjVOitYxBg=/?share_link_id=442281188967">Low fidelity prototype view</a>
          </td>
        </tr>
      </tbody>
    </table>









    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Credit Sales archive
      </span>
    </summary>
    <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Version</th>
                    <th scope="col" class="govuk-table__header">Date created</th>
                    <th scope="col" class="govuk-table__header">Summary notes</th>
                    <th scope="col" class="govuk-table__header">Research insight documentation</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/v1">Version 1</a></td>
                <td class="govuk-table__cell">3 May 2022</td>
                <td class="govuk-table__cell">
                  Details of journeys:
                  <ul class="bullets">
                    <li>Developer led journey</li>
                    <li>Handshake journey</li>
                  </ul>
                </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/v2">Version 2</a></td>
                <td class="govuk-table__cell">26 May 2022</td>
                <td class="govuk-table__cell">
                  Iteration of developer led journey:
                  <ul>
                    <li><strong>Reduce the need for paper document and risk of proof fraud by creating a certificate view service that LPAs can access</strong><br>
                        Follow similar patterns within government (DVLA), I would like to test a BNG credits view service that allows view access to anyone the developer chooses. This would build on concepts that we have already considered in the handshake journey.</li>
                    <li>
                      <strong>Halt for mitigation and refund information</strong><br>
                      Very little evidence that users took time to read this information on the start page. I'd like to try adding more friction to halt the user and get them to think about the consequences of purchasing too early.
                    </li>
                    <li>
                      <strong>Revise our journey start point</strong><br>
                      Given what we've learnt about the planning portal, we need to look at a more appropriate entrance to our journey
                    </li>
                    <li>
                      <strong>Move the development details page</strong><br>
                      These details identify the file is the correct one and therefore is key to identifying the right metric file has been uploaded. This should appear straight after the file has been uploaded.
                    </li>
                  </ul>
                </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/v3">Version 3</a></td>
                <td class="govuk-table__cell">1 July 2022</td>
                <td class="govuk-table__cell">
                  Iteration of developer led journey:
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
    </table>
    </details>
  </div>

{% endblock %}
