{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


{% block header %}

{{ super()}}

  <div class="govuk-width-container">
   {% include "includes/phase-banner.html" %}
  </div>

{% endblock %}
{% block beforeContent %}

    <!-- <div style="min-height: 40px; position: relative;">

        {{ govukBackLink({
          text: "Back",
          href: "javascript: window.history.go(-1)"
        }) }}

        <div style="margin-top: govuk-spacing(2); position: absolute; right: 0; top: 3px; text-align: right;">
          <p><a class="govuk-link govuk-link--no-visited-state" href="signout">Save and return later</a></p>
        </div>
    </div> -->
  {% if hideSaveSection === true %}
  {% else %}
   <div class="app-save__wrapper">
      {% if hideBackLink === true %}
      {% else %}
        {{ govukBackLink({
          text: "Back",
          href: "javascript: window.history.go(-1)"
        }) }}
      {% endif %} 
      {% if hideSaveLink === true %}
      {% else %}
        <div class="app-save">
          <p><a class="govuk-link govuk-link--no-visited-state" href="saved">Save and return later</a></p>
          <!-- <p><a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/saved?lastVisitedURL={{currentURL}}">Save and return later</a></p> -->
        </div>
      {% endif %} 
    </div>
  {% endif %} 

{% endblock %}
