{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set containerClasses = "govuk-width-container govuk-width-container-email" %}
{% set mainClasses = mainClasses | default("govuk-!-padding-top-4") %}

{% block header %}

{{ super()}}
 
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: containerClasses
  }) }}

{% endblock %}

{% block main %}
<div class="govuk-width-container {{ containerClasses }}">
  {% block beforeContent %}{% endblock %}
  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}{% endblock %}
  </main>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

