
{% extends "layout_noheader.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Biodiversity Net Gain Developer Team
      </h1>

      <h2 class="govuk-heading-l">Beta prototypes</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Beta phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width:30%"> Prototype </th>
            <th class="govuk-table__header" scope="col"> Sprint </th>
            <th class="govuk-table__header" scope="col"> Date </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="developer_v2/decision-notice">Adding off-site gain manually v1</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#"><span class="govuk-visually-hidden">Beta </span>Sprint 7</a>
            </td>
            <td class="govuk-table__cell">
              9 November - 22 November 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Current",
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l">Alpha prototypes</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Alpha phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width:30%"> Prototype </th>
            <th class="govuk-table__header" scope="col"> Sprint </th>
            <th class="govuk-table__header" scope="col"> Date </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v8/start">Registration journey v8</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-12"><span class="govuk-visually-hidden">Alpha </span>Sprint 12</a>
            </td>
            <td class="govuk-table__cell">
              16 February - 28 February 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Design assets</h2>
      <ul class="govuk-list">
        <li>
          <a href="#">As-is journey maps (Miro)</a>
        </li>
        <li>
          <a href="#">To-be journey maps (Miro)</a>
        </li>
        <li>
          <a href="#">User flow diagrams (Miro)</a>
        </li>
        <li>
          <a href="#" class="govuk-link">Design decisions log (Confluence)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Team resources</h2>
      <ul class="govuk-list">
        <li>
          <a href="">
            Prototype GitHub repository
          </a>
        </li>
        <li>
          <a href="#">
            Project Confluence
          </a>
        </li>
        <li>
          <a href="#">
            Jira board
          </a>
        </li>
      </ul>

    </div>

  </div>

{% endblock %}