{% extends "layout.html" %}

{% set hideSaveSection = true %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <!-- <span class="govuk-caption-xl">Planning reference: 22/01976/RJL</span> 
        {{ serviceName }}-->
        Buy statutory biodiversity credits
      </h1>

      <!-- <p>
        {{ data | dump }}
      </p> -->

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <!-- <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{sectioncomplete}} of {{data['sections']}} sections.</p> -->
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 6 sections.</p>
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">Statutory biodiversity metric</h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="credits-metric-upload" aria-describedby="eligibility-status">
                  Upload statutory biodiversity metric
                </a>
              </span>
              {% if data['development-data'] == "yes" %}
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
              {% elseif  data['development-data'] == "no"%}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>



          <li>
            <h2 class="app-task-list__section">
                Statutory biodiversity credits
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="credits-tier-alt">
                    Add statutory biodiversity credits
                  </a>
                </span>
                {% if data['credits-cost'] == "seen" %}
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                {% endif %}
              </li>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              Purchase order
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="credits-purchase-order">
                    Add a purchase order number
                  </a>
                </span>
                {% if data['purchase-order'] == "Yes" or data['purchase-order'] == "No" %}
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                {% endif %}
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              Customer due diligence (CDD)
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="credits-individual-or-organisation">
                    Complete customer due diligence
                  </a>
                </span>
                {% if data['ind-or-org'] == "Individual" or data['ind-or-org'] == "Organisation" %}
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                {% endif %}
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              Terms and conditions
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="credits-terms-and-conditions">
                    Accept terms and conditions
                  </a>
                </span>
                {% if data['terms-and-conditons'] == "checked" %}
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                {% endif %}
                
                </li>
            </ul>
          </li>
        <!-- <li>
          <h2 class="app-task-list__section">
            Submit your biodiversity gain information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data['task1'] == "complete" and data['task2'] == "complete" and data['task3'] == "complete" %}
              <a href="email-entry">Check your answers before you submit them</a>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <span class="app-task-list__task-name">
                Check your answers before you submit them to us
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>

              {%endif%}

            </li>
          </ul>
        </li> -->
        <li>
          <h2 class="app-task-list__section">
            Submit your biodiversity gain information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data['terms-and-conditons'] == "checked" %}
                <a href="credits-check-your-answers">Check your answers before you submit them</a>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
              {% else %}
                Check your answers before you submit them
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
